In [124]:
import pandas as pd

In [125]:
def get_nan_info(dataframe):
    # Step 1: Get columns with NaN values
    nan_columns = dataframe.columns[dataframe.isna().any()].tolist()

    # Step 2: Calculate percentage of NaN values in each column
    nan_percentage = (dataframe.isna().sum() / len(dataframe)) * 100

    # Step 3: Combine the results into a DataFrame
    nan_info = pd.DataFrame({'NaN Count': dataframe.isna().sum(), 'NaN Percentage': nan_percentage})
    nan_info = nan_info.loc[nan_info['NaN Count'] > 0]  # Filter out columns with no NaNs

    return nan_info

In [126]:
path_to_your_file = "/Users/arup/Documents/ISB/Datasets/Patent"

In [127]:
path_to_your_dataset = '/Users/arup/Documents/ISB/Datasets/Patent'

#### Loading CSV files into DataFrames
g_application = pd.read_csv("F:\Arup\PatentView Data CSV\g_application.csv")
g_assignee_disambiguated = pd.read_csv("F:\Arup\PatentView Data CSV\g_assignee_disambiguated.csv")
g_attorney_disambiguated = pd.read_csv("F:\Arup\PatentView Data CSV\g_attorney_disambiguated.csv")
g_botanic = pd.read_csv("F:\Arup\PatentView Data CSV\g_botanic.csv")
g_cpc_current = pd.read_csv("F:\Arup\PatentView Data CSV\g_cpc_current.csv")
g_cpc_title = pd.read_csv("F:\Arup\PatentView Data CSV\g_cpc_title.csv")
g_examiner_not_disambiguated = pd.read_csv("F:\Arup\PatentView Data CSV\g_examiner_not_disambiguated.csv")
g_figures = pd.read_csv("F:\Arup\PatentView Data CSV\g_figures.csv")
g_foreign_citation = pd.read_csv("F:\Arup\PatentView Data CSV\g_foreign_citation.csv")
g_foreign_priority = pd.read_csv("F:\Arup\PatentView Data CSV\g_foreign_priority.csv")
g_gov_interest = pd.read_csv("F:\Arup\PatentView Data CSV\g_gov_interest.csv")
g_gov_interest_contracts = pd.read_csv("F:\Arup\PatentView Data CSV\g_gov_interest_contracts.csv")
g_gov_interest_org = pd.read_csv("F:\Arup\PatentView Data CSV\g_gov_interest_org.csv")
g_inventor_disambiguated = pd.read_csv("F:\Arup\PatentView Data CSV\g_inventor_disambiguated.csv")
g_ipc_at_issue = pd.read_csv("F:\Arup\PatentView Data CSV\g_ipc_at_issue.csv")
g_location_disambiguated = pd.read_csv("F:\Arup\PatentView Data CSV\g_location_disambiguated.csv")
g_other_reference = pd.read_csv("F:\Arup\PatentView Data CSV\g_other_reference.csv")
g_patent = pd.read_csv("F:\Arup\PatentView Data CSV\g_patent.csv")
g_pct_data = pd.read_csv("F:\Arup\PatentView Data CSV\g_pct_data.csv")
g_persistent_assignee = pd.read_csv("F:\Arup\PatentView Data CSV\g_persistent_assignee.csv")
g_persistent_inventor = pd.read_csv("F:\Arup\PatentView Data CSV\g_persistent_inventor.csv")
g_rel_app_text = pd.read_csv("F:\Arup\PatentView Data CSV\g_rel_app_text.csv")
g_uspc_at_issue = pd.read_csv("F:\Arup\PatentView Data CSV\g_uspc_at_issue.csv")
g_us_application_citation = pd.read_csv("F:\Arup\PatentView Data CSV\g_us_application_citation.csv")
g_us_patent_citation = pd.read_csv("F:\Arup\PatentView Data CSV\g_us_patent_citation.csv")
g_us_rel_doc = pd.read_csv("F:\Arup\PatentView Data CSV\g_us_rel_doc.csv")
g_us_term_of_grant = pd.read_csv("F:\Arup\PatentView Data CSV\g_us_term_of_grant.csv")
g_wipo_technology = pd.read_csv("F:\Arup\PatentView Data CSV\g_wipo_technology.csv")

## US Patent Office's Patentsview

Columns for DataFrame: g_application.csv
['Unnamed: 0', 'application_id', 'patent_id', 'patent_application_type', 'filing_date', 'series_code', 'rule_47_flag']


Columns for DataFrame: g_assignee_disambiguated.csv
['Unnamed: 0', 'patent_id', 'assignee_sequence', 'assignee_id', 'disambig_assignee_individual_name_first', 'disambig_assignee_individual_name_last', 'disambig_assignee_organization', 'assignee_type', 'location_id']


Columns for DataFrame: g_attorney_disambiguated.csv
['Unnamed: 0', 'patent_id', 'attorney_sequence', 'attorney_id', 'disambig_attorney_name_first', 'disambig_attorney_name_last', 'disambig_attorney_organization', 'attorney_country']


Columns for DataFrame: g_botanic.csv
['Unnamed: 0', 'patent_id', 'latin_name', 'plant_variety']


Columns for DataFrame: g_cpc_current.csv
['Unnamed: 0', 'patent_id', 'cpc_sequence', 'cpc_section', 'cpc_class', 'cpc_subclass', 'cpc_group', 'cpc_type', 'cpc_symbol_position']


Columns for DataFrame: g_cpc_title.csv
['Unnamed: 0', 'cpc_subclass', 'cpc_subclass_title', 'cpc_group', 'cpc_group_title', 'cpc_class', 'cpc_class_title']


Columns for DataFrame: g_examiner_not_disambiguated.csv
['Unnamed: 0', 'patent_id', 'raw_examiner_name_first', 'raw_examiner_name_last', 'examiner_role', 'art_group']


Columns for DataFrame: g_figures.csv
['Unnamed: 0', 'patent_id', 'num_figures', 'num_sheets']


Columns for DataFrame: g_foreign_citation.csv
['Unnamed: 0', 'patent_id', 'citation_sequence', 'citation_application_id', 'citation_date', 'citation_category', 'citation_country']


Columns for DataFrame: g_foreign_priority.csv
['Unnamed: 0', 'patent_id', 'priority_claim_sequence', 'priority_claim_kind', 'foreign_application_id', 'filing_date', 'foreign_country_filed']


Columns for DataFrame: g_gov_interest.csv
['Unnamed: 0', 'patent_id', 'gi_statement']


Columns for DataFrame: g_gov_interest_contracts.csv
['Unnamed: 0', 'patent_id', 'contract_award_number']


Columns for DataFrame: g_gov_interest_org.csv
['Unnamed: 0', 'patent_id', 'gi_organization_id', 'fedagency_name', 'level_one', 'level_two', 'level_three']


Columns for DataFrame: g_inventor_disambiguated.csv
['Unnamed: 0', 'patent_id', 'inventor_sequence', 'inventor_id', 'disambig_inventor_name_first', 'disambig_inventor_name_last', 'male_flag', 'attribution_status', 'location_id']


Columns for DataFrame: g_ipc_at_issue.csv
['Unnamed: 0', 'patent_id', 'ipc_sequence', 'classification_level', 'section', 'ipc_class', 'subclass', 'main_group', 'subgroup', 'symbol_position', 'classification_value', 'classification_status', 'classification_data_source', 'action_date', 'ipc_version_indicator']


Columns for DataFrame: g_location_disambiguated.csv
['Unnamed: 0', 'location_id', 'disambig_city', 'disambig_state', 'disambig_country', 'latitude', 'longitude', 'county', 'state_fips', 'county_fips']


Columns for DataFrame: g_other_reference.csv
['Unnamed: 0', 'patent_id', 'other_reference_sequence', 'other_reference_text']


Columns for DataFrame: g_patent.csv
['Unnamed: 0', 'patent_id', 'patent_type', 'patent_date', 'patent_title', 'patent_abstract', 'wipo_kind', 'num_claims', 'withdrawn', 'filename']


Columns for DataFrame: g_pct_data.csv
['Unnamed: 0', 'patent_id', 'published_or_filed_date', 'pct_371_date', 'pct_102_date', 'filed_country', 'application_kind', 'pct_doc_number', 'pct_doc_type']


Columns for DataFrame: g_persistent_assignee.csv
['Unnamed: 0', 'patent_id', 'sequence', 'disamb_assignee_id_20181127', 'disamb_assignee_id_20190312', 'disamb_assignee_id_20190820', 'disamb_assignee_id_20191008', 'disamb_assignee_id_20191231', 'disamb_assignee_id_20200331', 'disamb_assignee_id_20200630', 'disamb_assignee_id_20200929', 'disamb_assignee_id_20201229', 'disamb_assignee_id_20210330', 'disamb_assignee_id_20210629', 'disamb_assignee_id_20210930', 'disamb_assignee_id_20211230', 'disamb_assignee_id_20220630', 'disamb_assignee_id_20220929']


Columns for DataFrame: g_persistent_inventor.csv
['Unnamed: 0', 'patent_id', 'sequence', 'disamb_inventor_id_20170808', 'disamb_inventor_id_20171003', 'disamb_inventor_id_20171226', 'disamb_inventor_id_20180528', 'disamb_inventor_id_20181127', 'disamb_inventor_id_20190312', 'disamb_inventor_id_20190820', 'disamb_inventor_id_20191008', 'disamb_inventor_id_20191231', 'disamb_inventor_id_20200331', 'disamb_inventor_id_20200630', 'disamb_inventor_id_20200929', 'disamb_inventor_id_20201229', 'disamb_inventor_id_20211230', 'disamb_inventor_id_20220630', 'disamb_inventor_id_20220929']


Columns for DataFrame: g_rel_app_text.csv
['Unnamed: 0', 'patent_id', 'rel_app_text']


Columns for DataFrame: g_uspc_at_issue.csv
['Unnamed: 0', 'patent_id', 'uspc_sequence', 'uspc_mainclass_id', 'uspc_mainclass_title', 'uspc_subclass_id', 'uspc_subclass_title']


Columns for DataFrame: g_us_application_citation.csv
['Unnamed: 0', 'patent_id', 'citation_sequence', 'citation_document_number', 'citation_date', 'record_name', 'wipo_kind', 'citation_category']


Columns for DataFrame: g_us_patent_citation.csv
['Unnamed: 0', 'patent_id', 'citation_sequence', 'citation_patent_id', 'citation_date', 'record_name', 'wipo_kind', 'citation_category']


Columns for DataFrame: g_us_rel_doc.csv
['Unnamed: 0', 'patent_id', 'related_doc_number', 'published_country', 'related_doc_type', 'related_doc_kind', 'related_doc_published_date', 'related_doc_status', 'related_doc_sequence', 'wipo_kind']


Columns for DataFrame: g_us_term_of_grant.csv
['Unnamed: 0', 'patent_id', 'disclaimer_date', 'term_disclaimer', 'term_grant', 'term_extension']


Columns for DataFrame: g_wipo_technology.csv
['Unnamed: 0', 'patent_id', 'wipo_field_sequence', 'wipo_field_id', 'wipo_sector_title', 'wipo_field_title']

In [128]:
g_application = pd.read_csv(path_to_your_file + "/g_application.csv")
g_application

,Unnamed: 0,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
0,7940069,29/033389,D375838,29,1995-01-11,29,0.0
1,5279875,2012/13600093,9891248,13,2012-08-30,13,0.0
2,3607092,2005/11268322,8029349,11,2005-11-07,11,0.0
3,554992,06/355976,4433161,6,1982-03-08,6,0.0
4,5700000,2013/14435341,9783449,14,2013-10-18,14,0.0
...,...,...,...,...,...,...,...
8252,2095981,09/062823,6190355,9,1998-04-20,9,0.0
8253,4114019,2007/12377388,8207385,12,2007-08-15,12,0.0
8254,4621706,2009/29347361,D621611,29,2009-12-14,29,0.0
8255,1138847,07/350263,D317299,7,1989-05-11,7,0.0
8256,5778138,2014/14187135,9178636,14,2014-02-21,14,0.0

In [129]:
get_nan_info(g_application)

              NaN Count  NaN Percentage
rule_47_flag          1        0.012111

In [130]:
g_application = g_application.drop('Unnamed: 0', axis=1)
g_application

,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
0,29/033389,D375838,29,1995-01-11,29,0.0
1,2012/13600093,9891248,13,2012-08-30,13,0.0
2,2005/11268322,8029349,11,2005-11-07,11,0.0
3,06/355976,4433161,6,1982-03-08,6,0.0
4,2013/14435341,9783449,14,2013-10-18,14,0.0
...,...,...,...,...,...,...
8252,09/062823,6190355,9,1998-04-20,9,0.0
8253,2007/12377388,8207385,12,2007-08-15,12,0.0
8254,2009/29347361,D621611,29,2009-12-14,29,0.0
8255,07/350263,D317299,7,1989-05-11,7,0.0
8256,2014/14187135,9178636,14,2014-02-21,14,0.0

In [131]:
g_application.to_csv(path_to_your_dataset + '/g_application.csv', index=False)

In [132]:
g_assignee_disambiguated = pd.read_csv(path_to_your_file + "/g_assignee_disambiguated.csv")
g_assignee_disambiguated

,Unnamed: 0,patent_id,assignee_sequence,assignee_id,disambig_assignee_individual_name_first,disambig_assignee_individual_name_last,disambig_assignee_organization,assignee_type,location_id
0,5870864,10118427,0,9b3869d9-6607-41ad-b939-2a30b5f31f3e,NaN,NaN,"RICOH COMPANY, LTD.",3.0,42f90495-16c8-11ed-9b5f-1234bde3cd05
1,7370253,11090380,0,03413d14-40db-4bab-98ef-74e17b670ddc,NaN,NaN,"Applied Biotechnology Institute, Inc.",2.0,c39d7170-16c7-11ed-9b5f-1234bde3cd05
2,3049726,9748621,0,2b2a02f8-aeb7-4298-a7de-1eb16444780a,NaN,NaN,I-SHOU UNIVERSITY,3.0,NaN
3,1783633,7229279,0,70bdfacd-0eb0-47ae-9313-529ae7d7f5d2,NaN,NaN,J. Eberspaecher GmbH & Co. KG,3.0,7bc0be2b-49af-11ed-9879-1234bde3cd05
4,71876,9593279,0,a29a1bf4-ef47-43c4-9ecd-4cca6147117e,NaN,NaN,MERCK PATENT GMBH,3.0,2d473668-16c8-11ed-9b5f-1234bde3cd05
...,...,...,...,...,...,...,...,...,...
7591,1072747,5580771,0,bd0bf86b-f2e1-488f-a83b-7e616c7185ac,NaN,NaN,The Board of Regents of the University of Wash...,2.0,db682976-16c7-11ed-9b5f-1234bde3cd05
7592,1180433,9102518,0,d1b2bf93-db1d-4d1a-a5fe-b39092594855,NaN,NaN,UNIVERSITE CLAUDE BERNARD LYON 1,3.0,97644bdd-16c8-11ed-9b5f-1234bde3cd05
7593,7209820,9173191,0,ffaffc7a-fd33-427f-9e43-02b6d1c3fe54,NaN,NaN,Intel Corporation,2.0,c1ee6332-16c7-11ed-9b5f-1234bde3cd05
7594,780278,8022834,0,d8ea1897-0c48-46ff-a882-60dc97cd9c6e,NaN,NaN,"DELPHI TECHNOLOGIES, LLC",2.0,f442979f-16c7-11ed-9b5f-1234bde3cd05
7595,3835126,11280257,0,cb375f2e-d0cf-4b6c-901b-9ec0fc9cfba0,NaN,NaN,"BORGWARNER, INC.",2.0,ef027642-16c7-11ed-9b5f-1234bde3cd05

In [133]:
get_nan_info(g_assignee_disambiguated)

                                         NaN Count  NaN Percentage
disambig_assignee_individual_name_first       7446       98.025276
disambig_assignee_individual_name_last        7446       98.025276
disambig_assignee_organization                  77        1.013691
assignee_type                                   33        0.434439
location_id                                     87        1.145340

In [134]:
g_assignee_disambiguated = g_assignee_disambiguated.drop(['Unnamed: 0', 'disambig_assignee_individual_name_first', 'disambig_assignee_individual_name_last'], axis=1)
g_assignee_disambiguated

,patent_id,assignee_sequence,assignee_id,disambig_assignee_organization,assignee_type,location_id
0,10118427,0,9b3869d9-6607-41ad-b939-2a30b5f31f3e,"RICOH COMPANY, LTD.",3.0,42f90495-16c8-11ed-9b5f-1234bde3cd05
1,11090380,0,03413d14-40db-4bab-98ef-74e17b670ddc,"Applied Biotechnology Institute, Inc.",2.0,c39d7170-16c7-11ed-9b5f-1234bde3cd05
2,9748621,0,2b2a02f8-aeb7-4298-a7de-1eb16444780a,I-SHOU UNIVERSITY,3.0,NaN
3,7229279,0,70bdfacd-0eb0-47ae-9313-529ae7d7f5d2,J. Eberspaecher GmbH & Co. KG,3.0,7bc0be2b-49af-11ed-9879-1234bde3cd05
4,9593279,0,a29a1bf4-ef47-43c4-9ecd-4cca6147117e,MERCK PATENT GMBH,3.0,2d473668-16c8-11ed-9b5f-1234bde3cd05
...,...,...,...,...,...,...
7591,5580771,0,bd0bf86b-f2e1-488f-a83b-7e616c7185ac,The Board of Regents of the University of Wash...,2.0,db682976-16c7-11ed-9b5f-1234bde3cd05
7592,9102518,0,d1b2bf93-db1d-4d1a-a5fe-b39092594855,UNIVERSITE CLAUDE BERNARD LYON 1,3.0,97644bdd-16c8-11ed-9b5f-1234bde3cd05
7593,9173191,0,ffaffc7a-fd33-427f-9e43-02b6d1c3fe54,Intel Corporation,2.0,c1ee6332-16c7-11ed-9b5f-1234bde3cd05
7594,8022834,0,d8ea1897-0c48-46ff-a882-60dc97cd9c6e,"DELPHI TECHNOLOGIES, LLC",2.0,f442979f-16c7-11ed-9b5f-1234bde3cd05
7595,11280257,0,cb375f2e-d0cf-4b6c-901b-9ec0fc9cfba0,"BORGWARNER, INC.",2.0,ef027642-16c7-11ed-9b5f-1234bde3cd05

In [135]:
g_assignee_disambiguated.to_csv(path_to_your_dataset + '/g_assignee_disambiguated.csv', index=False)

In [136]:
g_attorney_disambiguated = pd.read_csv(path_to_your_file + "/g_attorney_disambiguated.csv")
g_attorney_disambiguated

,Unnamed: 0,patent_id,attorney_sequence,attorney_id,disambig_attorney_name_first,disambig_attorney_name_last,disambig_attorney_organization,attorney_country
0,333569,9751320,0,09eda0fa2c9f14962b11e0b53ea51510,NaN,NaN,HP Inc.—Patent Department,NaN
1,3321274,10494810,1,5e080225fe5ea4bcd382fa51d2777f53,Narek,Zohrabyan,NaN,NaN
2,4684585,6608817,1,8335a3c1b30e5905dee0a11bb7ac40d2,Kevin J.,Zilka,NaN,US
3,2984566,4088395,0,5539809d502b006816c57f5dc133d797,Robert J.,Feltovic,NaN,NaN
4,6820557,7191241,0,ba6a0d79be542278179ac4dc1b4baab1,Mark,Lauer,NaN,NaN
...,...,...,...,...,...,...,...,...
9278,8121205,9494286,0,e3412e962e62f82664c4d92fedcf75d3,NaN,NaN,Foley & Lardner LLP,NaN
9279,8605654,3931964,0,ee296cf5557c414e7fb198bcc8ac5376,W. G.,Fasse,NaN,US
9280,4226031,9682924,0,74fa8cc93b33a33fa022f6086264261b,NaN,NaN,Lathrop & Gage LLP,NaN
9281,418425,D709421,0,0ce48dd2f7c0bf2168f519915bcc0ca4,NaN,NaN,Christensen O'Connor Johnson Kindness PLLC,NaN
9282,7900024,11352114,0,dd4853cae4cb17e59c021fd89b27e9bb,Chris,Mizumoto,NaN,NaN

In [137]:
get_nan_info(g_attorney_disambiguated)

                                NaN Count  NaN Percentage
disambig_attorney_name_first         5908       63.643219
disambig_attorney_name_last          5908       63.643219
disambig_attorney_organization       3375       36.356781
attorney_country                     8669       93.385759

In [138]:
g_attorney_disambiguated = g_attorney_disambiguated.drop(['Unnamed: 0', 'disambig_attorney_name_first', 'disambig_attorney_name_last', 'attorney_country'], axis=1)
g_attorney_disambiguated

,patent_id,attorney_sequence,attorney_id,disambig_attorney_organization
0,9751320,0,09eda0fa2c9f14962b11e0b53ea51510,HP Inc.—Patent Department
1,10494810,1,5e080225fe5ea4bcd382fa51d2777f53,NaN
2,6608817,1,8335a3c1b30e5905dee0a11bb7ac40d2,NaN
3,4088395,0,5539809d502b006816c57f5dc133d797,NaN
4,7191241,0,ba6a0d79be542278179ac4dc1b4baab1,NaN
...,...,...,...,...
9278,9494286,0,e3412e962e62f82664c4d92fedcf75d3,Foley & Lardner LLP
9279,3931964,0,ee296cf5557c414e7fb198bcc8ac5376,NaN
9280,9682924,0,74fa8cc93b33a33fa022f6086264261b,Lathrop & Gage LLP
9281,D709421,0,0ce48dd2f7c0bf2168f519915bcc0ca4,Christensen O'Connor Johnson Kindness PLLC
9282,11352114,0,dd4853cae4cb17e59c021fd89b27e9bb,NaN

In [139]:
g_attorney_disambiguated.to_csv(path_to_your_dataset + '/g_attorney_disambiguated.csv', index=False)

In [140]:
g_botanic = pd.read_csv(path_to_your_file + "/g_botanic.csv")
g_botanic

    Unnamed: 0 patent_id                          latin_name    plant_variety
0         2548   PP21924                     Gentiana scabra            Gento
1         4592   PP33916                      Monarda didyma        Balbeemin
2         6228   PP16211            Chrysanthemum×morifolium         Yosharon
3         7421   PP34084                Vaccinium corymbosum           FV1907
4         1439   PP31920              Thalictrum petaloideum      Ghent Ebony
5        14923   PP19190                Pelargonium×hortorum       Duevipifiz
6         4987   PP26322                       Vanda hybrid.        SPCDW1205
7         6725   PP20237              Schlumbergera truncata  CARNEVAL BRAZIL
8        10203   PP19908               Allamanda carthartica        Siam Snow
9         2542   PP33327                        Rosa hybrida         ESM R325
10       13169   PP33918                       Acer palmatum         SONKOOT6
11        5114   PP32551                Hydrangea paniculata       Little Alf
12          28   PP19729                     Scaevola aemula      Wesscaetopi
13       11502   PP16856            Chrysanthemum×morifolium    Sunny Yotasha
14       13482   PP23181  Leucanthemum×superbum (L. Burbank)     Banana Cream
15        3111   PP26282                Philodendron selloum      Little Hope
16       16195   PP25367                  Anemone hupehensis       Cinderella
17       11665   PP26719      Ipomoea indicia var. acuminata         DAYBREAK
18        4958   PP33298             Anthurium andraeanum L.       ANTHGERXAM

In [141]:
get_nan_info(g_botanic)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [142]:
g_botanic = g_botanic.drop('Unnamed: 0', axis=1)
g_botanic

   patent_id                          latin_name    plant_variety
0    PP21924                     Gentiana scabra            Gento
1    PP33916                      Monarda didyma        Balbeemin
2    PP16211            Chrysanthemum×morifolium         Yosharon
3    PP34084                Vaccinium corymbosum           FV1907
4    PP31920              Thalictrum petaloideum      Ghent Ebony
5    PP19190                Pelargonium×hortorum       Duevipifiz
6    PP26322                       Vanda hybrid.        SPCDW1205
7    PP20237              Schlumbergera truncata  CARNEVAL BRAZIL
8    PP19908               Allamanda carthartica        Siam Snow
9    PP33327                        Rosa hybrida         ESM R325
10   PP33918                       Acer palmatum         SONKOOT6
11   PP32551                Hydrangea paniculata       Little Alf
12   PP19729                     Scaevola aemula      Wesscaetopi
13   PP16856            Chrysanthemum×morifolium    Sunny Yotasha
14   PP23181  Leucanthemum×superbum (L. Burbank)     Banana Cream
15   PP26282                Philodendron selloum      Little Hope
16   PP25367                  Anemone hupehensis       Cinderella
17   PP26719      Ipomoea indicia var. acuminata         DAYBREAK
18   PP33298             Anthurium andraeanum L.       ANTHGERXAM

In [143]:
g_botanic.to_csv(path_to_your_dataset + '/g_botanic.csv', index=False)

In [144]:
g_cpc_current = pd.read_csv(path_to_your_file + "/g_cpc_current.csv")
g_cpc_current

,Unnamed: 0,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type,cpc_symbol_position
0,9012799,6652944,1,Y,Y10,Y10T,Y10T428/14,additional,NaN
1,2321386,8811123,0,G,G04,G04G,G04G17/04,inventional,NaN
2,2347053,11349394,5,H,H02,H02M,H02M3/158,inventional,NaN
3,29614350,9595941,2,H,H03,H03H,H03H9/02118,inventional,NaN
4,7674188,9800871,15,H,H04,H04N,H04N19/61,inventional,NaN
...,...,...,...,...,...,...,...,...,...
48468,22792950,11254988,4,C,C12,C12Q,C12Q2600/118,additional,NaN
48469,25541036,6899142,2,D,D03,D03D,D03D11/00,inventional,NaN
48470,5968368,9579121,76,A,A61,A61M,A61M2210/0693,additional,NaN
48471,35813065,11112785,13,G,G05,G05B,G05B23/0283,inventional,NaN
48472,34977341,5895923,0,H,H01,H01L,H01L21/67109,inventional,NaN

In [145]:
get_nan_info(g_cpc_current)

                     NaN Count  NaN Percentage
cpc_symbol_position      48473           100.0

In [146]:
g_cpc_current = g_cpc_current.drop(['Unnamed: 0', 'cpc_symbol_position'], axis=1)
g_cpc_current

,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type
0,6652944,1,Y,Y10,Y10T,Y10T428/14,additional
1,8811123,0,G,G04,G04G,G04G17/04,inventional
2,11349394,5,H,H02,H02M,H02M3/158,inventional
3,9595941,2,H,H03,H03H,H03H9/02118,inventional
4,9800871,15,H,H04,H04N,H04N19/61,inventional
...,...,...,...,...,...,...,...
48468,11254988,4,C,C12,C12Q,C12Q2600/118,additional
48469,6899142,2,D,D03,D03D,D03D11/00,inventional
48470,9579121,76,A,A61,A61M,A61M2210/0693,additional
48471,11112785,13,G,G05,G05B,G05B23/0283,inventional
48472,5895923,0,H,H01,H01L,H01L21/67109,inventional

In [147]:
g_cpc_current.to_csv(path_to_your_dataset + '/g_cpc_current.csv', index=False)

In [148]:
g_cpc_title = pd.read_csv(path_to_your_file + "/g_cpc_title.csv")
g_cpc_title

,Unnamed: 0,cpc_subclass,cpc_subclass_title,cpc_group,cpc_group_title,cpc_class,cpc_class_title
0,168232,F28F,DETAILS OF HEAT-EXCHANGE AND HEAT-TRANSFER APP...,F28F21/02,Constructions of heat-exchange apparatus chara...,F28,HEAT EXCHANGE IN GENERAL
1,149539,F04C,"ROTARY-PISTON, OR OSCILLATING-PISTON, POSITIVE...",F04C2270/50,Control; Monitoring or safety arrangements-Con...,F04,POSITIVE - DISPLACEMENT MACHINES FOR LIQUIDS; ...
2,196585,G06F,ELECTRIC DIGITAL DATA PROCESSING,G06F15/7835,Digital computers in general ; Data processing...,G06,COMPUTING; CALCULATING; COUNTING
3,261720,Y10T,TECHNICAL SUBJECTS COVERED BY FORMER US CLASSI...,Y10T442/56,"Fabric [woven, knitted, or nonwoven textile or...",Y10,TECHNICAL SUBJECTS COVERED BY FORMER USPC
4,218796,H01L,SEMICONDUCTOR DEVICES; ELECTRIC SOLID STATE DE...,H01L2224/45287,Indexing scheme for arrangements for connectin...,H01,BASIC ELECTRIC ELEMENTS
...,...,...,...,...,...,...,...
259,165098,F24S,SOLAR HEAT COLLECTORS; SOLAR HEAT SYSTEMS,F24S80/56,"Details, accessories or component parts of sol...",F24,HEATING; RANGES; VENTILATING
260,184509,G03G,ELECTROGRAPHY; ELECTROPHOTOGRAPHY; MAGNETOGRAPHY,G03G21/1885,Arrangements not provided for by groups G03G13...,G03,PHOTOGRAPHY; CINEMATOGRAPHY; ANALOGOUS TECHNIQ...
261,226464,H01M,"PROCESSES OR MEANS, e.g. BATTERIES, FOR THE DI...",H01M8/2455,Fuel cells; Manufacture thereof-Grouping of fu...,H01,BASIC ELECTRIC ELEMENTS
262,174575,G01N,INVESTIGATING OR ANALYSING MATERIALS BY DETERM...,G01N2035/1048,Automatic analysis not limited to methods or m...,G01,MEASURING; TESTING
263,133507,E01D,"CONSTRUCTION OF BRIDGES, ; ELEVATED ROADWAYS; ...",E01D19/005,Structural or constructional details of bridge...,E01,"CONSTRUCTION OF ROADS, RAILWAYS, OR BRIDGES"

In [149]:
get_nan_info(g_cpc_title)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [150]:
g_cpc_title = g_cpc_title.drop('Unnamed: 0', axis=1)
g_cpc_title

,cpc_subclass,cpc_subclass_title,cpc_group,cpc_group_title,cpc_class,cpc_class_title
0,F28F,DETAILS OF HEAT-EXCHANGE AND HEAT-TRANSFER APP...,F28F21/02,Constructions of heat-exchange apparatus chara...,F28,HEAT EXCHANGE IN GENERAL
1,F04C,"ROTARY-PISTON, OR OSCILLATING-PISTON, POSITIVE...",F04C2270/50,Control; Monitoring or safety arrangements-Con...,F04,POSITIVE - DISPLACEMENT MACHINES FOR LIQUIDS; ...
2,G06F,ELECTRIC DIGITAL DATA PROCESSING,G06F15/7835,Digital computers in general ; Data processing...,G06,COMPUTING; CALCULATING; COUNTING
3,Y10T,TECHNICAL SUBJECTS COVERED BY FORMER US CLASSI...,Y10T442/56,"Fabric [woven, knitted, or nonwoven textile or...",Y10,TECHNICAL SUBJECTS COVERED BY FORMER USPC
4,H01L,SEMICONDUCTOR DEVICES; ELECTRIC SOLID STATE DE...,H01L2224/45287,Indexing scheme for arrangements for connectin...,H01,BASIC ELECTRIC ELEMENTS
...,...,...,...,...,...,...
259,F24S,SOLAR HEAT COLLECTORS; SOLAR HEAT SYSTEMS,F24S80/56,"Details, accessories or component parts of sol...",F24,HEATING; RANGES; VENTILATING
260,G03G,ELECTROGRAPHY; ELECTROPHOTOGRAPHY; MAGNETOGRAPHY,G03G21/1885,Arrangements not provided for by groups G03G13...,G03,PHOTOGRAPHY; CINEMATOGRAPHY; ANALOGOUS TECHNIQ...
261,H01M,"PROCESSES OR MEANS, e.g. BATTERIES, FOR THE DI...",H01M8/2455,Fuel cells; Manufacture thereof-Grouping of fu...,H01,BASIC ELECTRIC ELEMENTS
262,G01N,INVESTIGATING OR ANALYSING MATERIALS BY DETERM...,G01N2035/1048,Automatic analysis not limited to methods or m...,G01,MEASURING; TESTING
263,E01D,"CONSTRUCTION OF BRIDGES, ; ELEVATED ROADWAYS; ...",E01D19/005,Structural or constructional details of bridge...,E01,"CONSTRUCTION OF ROADS, RAILWAYS, OR BRIDGES"

In [151]:
g_cpc_title.to_csv(path_to_your_dataset + '/g_cpc_title.csv', index=False)

In [152]:
g_examiner_not_disambiguated = pd.read_csv(path_to_your_file + "/g_examiner_not_disambiguated.csv")
g_examiner_not_disambiguated

,Unnamed: 0,patent_id,raw_examiner_name_first,raw_examiner_name_last,examiner_role,art_group
0,4327747,D541367,Catherine R.,Oliver,primary,2914.0
1,10334654,4441836,Joseph A.,Fischetti,assistant,NaN
2,2091382,11199953,Roberto,Borja,primary,2173.0
3,7240703,D319284,M. H.,Tung,assistant,NaN
4,8735433,8896733,Hung,Lam,primary,2661.0
...,...,...,...,...,...,...
11080,7938845,8063813,Peter,Bythrow,assistant,3662.0
11081,3450231,4487274,Hien H.,Phan,assistant,NaN
11082,7392439,D332066,Antoine D.,Davis,assistant,NaN
11083,4989003,5577969,Michael Powell,Buiz,primary,NaN
11084,9379209,7573580,Tarifur,Chowdhury,primary,2886.0

In [153]:
get_nan_info(g_examiner_not_disambiguated)

           NaN Count  NaN Percentage
art_group       3659        33.00857

In [154]:
g_examiner_not_disambiguated = g_examiner_not_disambiguated.drop('Unnamed: 0', axis=1)
g_examiner_not_disambiguated

,patent_id,raw_examiner_name_first,raw_examiner_name_last,examiner_role,art_group
0,D541367,Catherine R.,Oliver,primary,2914.0
1,4441836,Joseph A.,Fischetti,assistant,NaN
2,11199953,Roberto,Borja,primary,2173.0
3,D319284,M. H.,Tung,assistant,NaN
4,8896733,Hung,Lam,primary,2661.0
...,...,...,...,...,...
11080,8063813,Peter,Bythrow,assistant,3662.0
11081,4487274,Hien H.,Phan,assistant,NaN
11082,D332066,Antoine D.,Davis,assistant,NaN
11083,5577969,Michael Powell,Buiz,primary,NaN
11084,7573580,Tarifur,Chowdhury,primary,2886.0

In [155]:
g_examiner_not_disambiguated.to_csv(path_to_your_dataset + '/g_examiner_not_disambiguated.csv', index=False)

In [156]:
g_figures = pd.read_csv(path_to_your_file + "/g_figures.csv")
g_figures

      Unnamed: 0 patent_id  num_figures  num_sheets
0         617659   7560223           21          17
1        5437656  10319307           42          29
2        3748239   D910720            7           7
3        2847443   9908772            6           4
4        5720291   6805417            9           8
...          ...       ...          ...         ...
7706     5490039   8920896            7           4
7707     7679161   6550221           12           9
7708     1760937   7666238            4           2
7709     6893143   7021745           78          35
7710     7060772   4280610            4           2

[7711 rows x 4 columns]

In [157]:
get_nan_info(g_figures)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [158]:
g_figures = g_figures.drop('Unnamed: 0', axis=1)
g_figures

     patent_id  num_figures  num_sheets
0      7560223           21          17
1     10319307           42          29
2      D910720            7           7
3      9908772            6           4
4      6805417            9           8
...        ...          ...         ...
7706   8920896            7           4
7707   6550221           12           9
7708   7666238            4           2
7709   7021745           78          35
7710   4280610            4           2

[7711 rows x 3 columns]

In [159]:
g_figures.to_csv(path_to_your_dataset + '/g_figures.csv', index=False)

In [160]:
g_foreign_citation = pd.read_csv(path_to_your_file + "/g_foreign_citation.csv")
g_foreign_citation

,Unnamed: 0,patent_id,citation_sequence,citation_application_id,citation_date,citation_category,citation_country
0,28078437,11077509,59,8234821,1985-05-01,cited by applicant,DE
1,8624772,10456793,5,2011148399,2011-12-01,cited by applicant,WO
2,9702453,10980494,40,529050,2003-04-01,cited by applicant,TW
3,12590345,10646456,36,WO-03/101458,2003-12-01,cited by applicant,WO
4,9288793,8759866,8,2007-27761,2007-02-01,cited by applicant,JP
...,...,...,...,...,...,...,...
35752,8256851,8658280,45,9719820,1997-06-01,cited by applicant,WO
35753,10422002,8410300,1,2 077 948,1993-03-01,cited by applicant,CA
35754,10543099,6802984,2,0 468 461,1992-01-01,cited by other,EP
35755,22615681,5258488,21,WO92/04410,1992-03-01,NaN,WO
35756,18561030,6063462,7,WO95/08441,1995-03-01,NaN,WO

In [161]:
get_nan_info(g_foreign_citation)

                   NaN Count  NaN Percentage
citation_date              1        0.002797
citation_category       4159       11.631289
citation_country           1        0.002797

In [162]:
g_foreign_citation = g_foreign_citation.drop('Unnamed: 0', axis=1)
g_foreign_citation

,patent_id,citation_sequence,citation_application_id,citation_date,citation_category,citation_country
0,11077509,59,8234821,1985-05-01,cited by applicant,DE
1,10456793,5,2011148399,2011-12-01,cited by applicant,WO
2,10980494,40,529050,2003-04-01,cited by applicant,TW
3,10646456,36,WO-03/101458,2003-12-01,cited by applicant,WO
4,8759866,8,2007-27761,2007-02-01,cited by applicant,JP
...,...,...,...,...,...,...
35752,8658280,45,9719820,1997-06-01,cited by applicant,WO
35753,8410300,1,2 077 948,1993-03-01,cited by applicant,CA
35754,6802984,2,0 468 461,1992-01-01,cited by other,EP
35755,5258488,21,WO92/04410,1992-03-01,NaN,WO
35756,6063462,7,WO95/08441,1995-03-01,NaN,WO

In [163]:
g_foreign_citation.to_csv(path_to_your_dataset + '/g_foreign_citation.csv', index=False)

In [164]:
g_foreign_priority = pd.read_csv(path_to_your_file + "/g_foreign_priority.csv")
g_foreign_priority

,Unnamed: 0,patent_id,priority_claim_sequence,priority_claim_kind,foreign_application_id,filing_date,foreign_country_filed
0,3022038,9104144,0,national,2012-185655,2012-08-24,JP
1,1892763,9261321,1,national,10-2013-0161527,2013-12-23,KR
2,2359002,8571001,0,national,2006-099914,2006-03-31,JP
3,1434055,5072114,0,NaN,1-168834,1989-06-30,JP
4,3205737,10787406,0,national,2017-130363,2017-07-03,JP
...,...,...,...,...,...,...,...
3822,758689,D481389,0,NaN,2102365,2001-06-07,GB
3823,1884737,4532358,0,NaN,4593/83,1983-08-23,CH
3824,2805037,9459570,0,national,2013-156670,2013-07-29,JP
3825,2946656,8619615,0,national,2009-175973,2009-07-29,JP
3826,922614,8410126,0,regional,09161496,2009-05-29,EP

In [165]:
get_nan_info(g_foreign_priority)

                        NaN Count  NaN Percentage
priority_claim_kind          1526       39.874575
foreign_application_id          1        0.026130
filing_date                     1        0.026130

In [166]:
g_foreign_priority = g_foreign_priority.drop('Unnamed: 0', axis=1)
g_foreign_priority

,patent_id,priority_claim_sequence,priority_claim_kind,foreign_application_id,filing_date,foreign_country_filed
0,9104144,0,national,2012-185655,2012-08-24,JP
1,9261321,1,national,10-2013-0161527,2013-12-23,KR
2,8571001,0,national,2006-099914,2006-03-31,JP
3,5072114,0,NaN,1-168834,1989-06-30,JP
4,10787406,0,national,2017-130363,2017-07-03,JP
...,...,...,...,...,...,...
3822,D481389,0,NaN,2102365,2001-06-07,GB
3823,4532358,0,NaN,4593/83,1983-08-23,CH
3824,9459570,0,national,2013-156670,2013-07-29,JP
3825,8619615,0,national,2009-175973,2009-07-29,JP
3826,8410126,0,regional,09161496,2009-05-29,EP

In [167]:
g_foreign_priority.to_csv(path_to_your_dataset + '/g_foreign_priority.csv', index=False)

In [168]:
g_gov_interest = pd.read_csv(path_to_your_file + "/g_gov_interest.csv")
g_gov_interest

     Unnamed: 0 patent_id                                       gi_statement
0        149219   9316078  The United States Government has rights in thi...
1          9467  10400225  STATEMENT AS TO FEDERALLY SPONSORED RESEARCH T...
2         52274   4930854  The invention described herein may be manufact...
3         75399   6043106  This invention was made with Government suppor...
4         51687   4894795  The invention described herein may be manufact...
..          ...       ...                                                ...
160       27161  11186894  GOVERNMENT SUPPORT CLAUSE  This invention was ...
161      111838   7736124  The U.S. Government may have certain rights in...
162       73669   5965551  This invention was made with Government suppor...
163       27218  11190282  STATEMENT REGARDING FEDERALLY FUNDED RESEARCH ...
164      155586   9587492  FEDERAL RESEARCH STATEMENT This invention was ...

[165 rows x 3 columns]

In [169]:
get_nan_info(g_gov_interest)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [170]:
g_gov_interest = g_gov_interest.drop('Unnamed: 0', axis=1)
g_gov_interest

    patent_id                                       gi_statement
0     9316078  The United States Government has rights in thi...
1    10400225  STATEMENT AS TO FEDERALLY SPONSORED RESEARCH T...
2     4930854  The invention described herein may be manufact...
3     6043106  This invention was made with Government suppor...
4     4894795  The invention described herein may be manufact...
..        ...                                                ...
160  11186894  GOVERNMENT SUPPORT CLAUSE  This invention was ...
161   7736124  The U.S. Government may have certain rights in...
162   5965551  This invention was made with Government suppor...
163  11190282  STATEMENT REGARDING FEDERALLY FUNDED RESEARCH ...
164   9587492  FEDERAL RESEARCH STATEMENT This invention was ...

[165 rows x 2 columns]

In [171]:
g_gov_interest.to_csv(path_to_your_dataset + '/g_gov_interest.csv', index=False)

In [172]:
g_gov_interest_contracts = pd.read_csv(path_to_your_file + "/g_gov_interest_contracts.csv")
g_gov_interest_contracts

     Unnamed: 0  patent_id contract_award_number
0         62923    7230080   NIH RO1 GM066243-01
1        104564    8530211     DE-FC02-07ER64494
2         86457    7977079          NIH CA073808
3          7846    4834528      NIH-ROI-EY-02944
4        103832    8509879              RR001192
..          ...        ...                   ...
196      193067   11174570     DE-AC02-07CH11359
197      104684    8534611       TASK NNL08AD73T
198       84357    7915178  FA8718-07-C-00020002
199        4141    4536203     DE-AC04-76DP00053
200      171945   10519113          R01-CA170495

[201 rows x 3 columns]

In [173]:
get_nan_info(g_gov_interest_contracts)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [174]:
g_gov_interest_contracts = g_gov_interest_contracts.drop('Unnamed: 0', axis=1)
g_gov_interest_contracts

     patent_id contract_award_number
0      7230080   NIH RO1 GM066243-01
1      8530211     DE-FC02-07ER64494
2      7977079          NIH CA073808
3      4834528      NIH-ROI-EY-02944
4      8509879              RR001192
..         ...                   ...
196   11174570     DE-AC02-07CH11359
197    8534611       TASK NNL08AD73T
198    7915178  FA8718-07-C-00020002
199    4536203     DE-AC04-76DP00053
200   10519113          R01-CA170495

[201 rows x 2 columns]

In [175]:
g_gov_interest_contracts.to_csv(path_to_your_dataset + '/g_gov_interest_contracts.csv', index=False)

In [176]:
g_gov_interest_org = pd.read_csv(path_to_your_file + "/g_gov_interest_org.csv")
g_gov_interest_org

,Unnamed: 0,patent_id,gi_organization_id,fedagency_name,level_one,level_two,level_three
0,77082,7223228,87,Small Business Innovation Research,Small Business Administration,Small Business Innovation Research,NaN
1,87626,7610397,5,Department of Defense,Department of Defense,NaN,NaN
2,172314,10446259,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health,NaN
3,74634,7125856,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health,NaN
4,61783,6613734,64,Navy,Department of Defense,Navy,NaN
...,...,...,...,...,...,...,...
195,97970,7968113,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health,NaN
196,190352,11065351,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health,NaN
197,133786,9228956,87,Small Business Innovation Research,Small Business Administration,Small Business Innovation Research,NaN
198,13277,4529695,31,National Science Foundation,National Science Foundation,NaN,NaN
199,57659,6452387,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health,NaN

In [177]:
get_nan_info(g_gov_interest_org)

             NaN Count  NaN Percentage
level_two          102            51.0
level_three        186            93.0

In [178]:
g_gov_interest_org = g_gov_interest_org.drop(['Unnamed: 0', 'level_three'], axis=1)
g_gov_interest_org

,patent_id,gi_organization_id,fedagency_name,level_one,level_two
0,7223228,87,Small Business Innovation Research,Small Business Administration,Small Business Innovation Research
1,7610397,5,Department of Defense,Department of Defense,NaN
2,10446259,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health
3,7125856,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health
4,6613734,64,Navy,Department of Defense,Navy
...,...,...,...,...,...
195,7968113,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health
196,11065351,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health
197,9228956,87,Small Business Innovation Research,Small Business Administration,Small Business Innovation Research
198,4529695,31,National Science Foundation,National Science Foundation,NaN
199,6452387,95,National Institutes of Health,Department of Health and Human Services,National Institutes of Health

In [179]:
g_gov_interest_org.to_csv(path_to_your_dataset + "/g_gov_interest_org.csv", index=False)

In [180]:
g_inventor_disambiguated = pd.read_csv(path_to_your_file + "/g_inventor_disambiguated.csv")
g_inventor_disambiguated

,Unnamed: 0,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,male_flag,attribution_status,location_id
0,735772,10254864,0,fl:ta_ln:kim-142,Tae-sang,Kim,1.0,1,7638d794-16c8-11ed-9b5f-1234bde3cd05
1,473590,10164599,1,fl:yi_ln:wu-195,Yipin,Wu,1.0,1,8801128f-16c8-11ed-9b5f-1234bde3cd05
2,13156014,7884107,15,fl:cr_ln:gibeau-1,Craig R.,Gibeau,1.0,1,05dc2e20-16c8-11ed-9b5f-1234bde3cd05
3,18868150,9953797,1,fl:ma_ln:frontera-1,Mark Alan,Frontera,1.0,1,0736273d-16c8-11ed-9b5f-1234bde3cd05
4,17611872,9513572,3,fl:th_ln:anthony-4,Thomas,Anthony,1.0,1,a26e22db-16c8-11ed-9b5f-1234bde3cd05
...,...,...,...,...,...,...,...,...,...
20422,12599400,7673969,6,fl:ed_ln:moynihan-2,Edward R.,Moynihan,1.0,1,0837cef2-16c8-11ed-9b5f-1234bde3cd05
20423,7451707,5549079,5,fl:mi_ln:meuller-1,Michael L.,Meuller,1.0,1,f3f13ace-16c7-11ed-9b5f-1234bde3cd05
20424,18411740,9794514,0,fl:jo_ln:yoakum-1,John H.,Yoakum,1.0,1,6d380d52-16c8-11ed-9b5f-1234bde3cd05
20425,7126196,5401742,3,fl:to_ln:kokubu-8,Tomokuni,Kokubu,NaN,99,8a6de2aa-16c8-11ed-9b5f-1234bde3cd05
20426,6228819,4975315,2,fl:gu_ln:crass-2,Guenther,Crass,1.0,1,f8887861-16c7-11ed-9b5f-1234bde3cd05

In [181]:
get_nan_info(g_inventor_disambiguated)

                              NaN Count  NaN Percentage
disambig_inventor_name_first          1        0.004895
disambig_inventor_name_last           1        0.004895
male_flag                          2595       12.703774
location_id                         174        0.851814

In [182]:
g_inventor_disambiguated = g_inventor_disambiguated.drop('Unnamed: 0', axis=1)
g_inventor_disambiguated

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,male_flag,attribution_status,location_id
0,10254864,0,fl:ta_ln:kim-142,Tae-sang,Kim,1.0,1,7638d794-16c8-11ed-9b5f-1234bde3cd05
1,10164599,1,fl:yi_ln:wu-195,Yipin,Wu,1.0,1,8801128f-16c8-11ed-9b5f-1234bde3cd05
2,7884107,15,fl:cr_ln:gibeau-1,Craig R.,Gibeau,1.0,1,05dc2e20-16c8-11ed-9b5f-1234bde3cd05
3,9953797,1,fl:ma_ln:frontera-1,Mark Alan,Frontera,1.0,1,0736273d-16c8-11ed-9b5f-1234bde3cd05
4,9513572,3,fl:th_ln:anthony-4,Thomas,Anthony,1.0,1,a26e22db-16c8-11ed-9b5f-1234bde3cd05
...,...,...,...,...,...,...,...,...
20422,7673969,6,fl:ed_ln:moynihan-2,Edward R.,Moynihan,1.0,1,0837cef2-16c8-11ed-9b5f-1234bde3cd05
20423,5549079,5,fl:mi_ln:meuller-1,Michael L.,Meuller,1.0,1,f3f13ace-16c7-11ed-9b5f-1234bde3cd05
20424,9794514,0,fl:jo_ln:yoakum-1,John H.,Yoakum,1.0,1,6d380d52-16c8-11ed-9b5f-1234bde3cd05
20425,5401742,3,fl:to_ln:kokubu-8,Tomokuni,Kokubu,NaN,99,8a6de2aa-16c8-11ed-9b5f-1234bde3cd05
20426,4975315,2,fl:gu_ln:crass-2,Guenther,Crass,1.0,1,f8887861-16c7-11ed-9b5f-1234bde3cd05

In [183]:
g_inventor_disambiguated.to_csv(path_to_your_dataset + "/g_inventor_disambiguated.csv", index=False)

In [184]:
g_ipc_at_issue = pd.read_csv(path_to_your_file + "/g_ipc_at_issue.csv")
g_ipc_at_issue

,Unnamed: 0,patent_id,ipc_sequence,classification_level,section,ipc_class,subclass,main_group,subgroup,symbol_position,classification_value,classification_status,classification_data_source,action_date,ipc_version_indicator
0,11191887,9396837,5,A,H,1,B,5,00,L,I,B,H,2016-07-19,2006-01-01
1,19364272,10796558,3,A,H,4,N,7,18,L,I,B,H,2020-10-06,2006-01-01
2,6239053,10127650,11,A,B,60,G,15,6,L,N,B,H,2018-11-13,2006-01-01
3,10100175,7695639,0,A,C,1,B,11,06,F,I,B,H,2010-04-13,2006-01-01
4,10082618,11000915,4,A,B,23,K,20,24,L,I,B,H,2021-05-11,2006-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20725,17910560,11267305,3,A,F,16,F,9,5,L,I,B,H,2022-03-08,2006-01-01
20726,3630116,8367372,0,A,C,12,P,1,00,F,I,B,H,2013-02-05,2006-01-01
20727,2501096,11314611,3,A,G,6,F,16,21,L,I,B,H,2022-04-26,2019-01-01
20728,10442944,6506177,0,NaN,A,61,M,5,30,NaN,NaN,NaN,NaN,NaN,NaN
20729,333235,5287770,0,NaN,F,16,H,57,02,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
get_nan_info(g_ipc_at_issue)

                            NaN Count  NaN Percentage
classification_level             4379       21.123975
main_group                        173        0.834539
subgroup                          173        0.834539
symbol_position                  4379       21.123975
classification_value             4379       21.123975
classification_status            4379       21.123975
classification_data_source       4379       21.123975
action_date                      4379       21.123975
ipc_version_indicator            4379       21.123975

In [186]:
g_ipc_at_issue = g_ipc_at_issue.drop('Unnamed: 0', axis=1)
g_ipc_at_issue

,patent_id,ipc_sequence,classification_level,section,ipc_class,subclass,main_group,subgroup,symbol_position,classification_value,classification_status,classification_data_source,action_date,ipc_version_indicator
0,9396837,5,A,H,1,B,5,00,L,I,B,H,2016-07-19,2006-01-01
1,10796558,3,A,H,4,N,7,18,L,I,B,H,2020-10-06,2006-01-01
2,10127650,11,A,B,60,G,15,6,L,N,B,H,2018-11-13,2006-01-01
3,7695639,0,A,C,1,B,11,06,F,I,B,H,2010-04-13,2006-01-01
4,11000915,4,A,B,23,K,20,24,L,I,B,H,2021-05-11,2006-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20725,11267305,3,A,F,16,F,9,5,L,I,B,H,2022-03-08,2006-01-01
20726,8367372,0,A,C,12,P,1,00,F,I,B,H,2013-02-05,2006-01-01
20727,11314611,3,A,G,6,F,16,21,L,I,B,H,2022-04-26,2019-01-01
20728,6506177,0,NaN,A,61,M,5,30,NaN,NaN,NaN,NaN,NaN,NaN
20729,5287770,0,NaN,F,16,H,57,02,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
g_ipc_at_issue.to_csv(path_to_your_dataset + "/g_ipc_at_issue.csv", index=False)

In [188]:
g_location_disambiguated = pd.read_csv(path_to_your_file + "/g_location_disambiguated.csv")
g_location_disambiguated

,Unnamed: 0,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude,county,state_fips,county_fips
0,31135,851d6ab7-16c8-11ed-9b5f-1234bde3cd05,Slane,NaN,IE,53.709068,-6.542618,NaN,NaN,NaN
1,32586,94a78556-16c8-11ed-9b5f-1234bde3cd05,Canegrate,NaN,IT,45.570538,8.926792,NaN,NaN,NaN
2,63689,d96fbc23-16c7-11ed-9b5f-1234bde3cd05,Lakeland,LA,US,30.600744,-91.397333,Pointe Coupee Parish,22.0,77.0
3,30628,8928b0ff-16c8-11ed-9b5f-1234bde3cd05,Nadendla,NaN,IN,16.175605,80.185518,NaN,NaN,NaN
4,40681,4b6faf0c-16c8-11ed-9b5f-1234bde3cd05,Vel'sk,NaN,RU,61.075645,42.097958,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
76,67141,e4783749-16c7-11ed-9b5f-1234bde3cd05,Galatia,IL,US,37.840604,-88.609222,Saline,17.0,165.0
77,20421,845467be-16c8-11ed-9b5f-1234bde3cd05,Seeg,NaN,DE,47.653573,10.606944,NaN,NaN,NaN
78,53017,a7648a94-16c8-11ed-9b5f-1234bde3cd05,Caterham,NaN,GB,51.281969,-0.077103,NaN,NaN,NaN
79,59424,cb5f9645-16c7-11ed-9b5f-1234bde3cd05,Alvarado,TX,US,32.406531,-97.211678,Johnson,48.0,251.0
80,41008,5fe04cac-16c8-11ed-9b5f-1234bde3cd05,Uvarovo,NaN,RU,45.262739,35.665005,NaN,NaN,NaN

In [189]:
get_nan_info(g_location_disambiguated)

                NaN Count  NaN Percentage
disambig_state         55       67.901235
county                 56       69.135802
state_fips             56       69.135802
county_fips            56       69.135802

In [190]:
g_location_disambiguated = g_location_disambiguated.drop(['Unnamed: 0', 'disambig_state', 'county', 'state_fips', 'county_fips'], axis=1)
g_location_disambiguated

,location_id,disambig_city,disambig_country,latitude,longitude
0,851d6ab7-16c8-11ed-9b5f-1234bde3cd05,Slane,IE,53.709068,-6.542618
1,94a78556-16c8-11ed-9b5f-1234bde3cd05,Canegrate,IT,45.570538,8.926792
2,d96fbc23-16c7-11ed-9b5f-1234bde3cd05,Lakeland,US,30.600744,-91.397333
3,8928b0ff-16c8-11ed-9b5f-1234bde3cd05,Nadendla,IN,16.175605,80.185518
4,4b6faf0c-16c8-11ed-9b5f-1234bde3cd05,Vel'sk,RU,61.075645,42.097958
...,...,...,...,...,...
76,e4783749-16c7-11ed-9b5f-1234bde3cd05,Galatia,US,37.840604,-88.609222
77,845467be-16c8-11ed-9b5f-1234bde3cd05,Seeg,DE,47.653573,10.606944
78,a7648a94-16c8-11ed-9b5f-1234bde3cd05,Caterham,GB,51.281969,-0.077103
79,cb5f9645-16c7-11ed-9b5f-1234bde3cd05,Alvarado,US,32.406531,-97.211678
80,5fe04cac-16c8-11ed-9b5f-1234bde3cd05,Uvarovo,RU,45.262739,35.665005

In [191]:
g_location_disambiguated.to_csv(path_to_your_dataset + "/g_location_disambiguated.csv", index=False)

In [192]:
g_other_reference = pd.read_csv(path_to_your_file + "/g_other_reference.csv")
g_other_reference

,Unnamed: 0,patent_id,other_reference_sequence,other_reference_text
0,25921159,10859982,5,"Examiner's Report, Canadian Patent Application..."
1,39386501,9102958,344,"Strassner et al., “A homolog of old yellow enz..."
2,6732963,11203698,0,Craemer—DE 866596 C—IDS—MT—packaging with PVOH...
3,33560970,9401088,107,"PCT Application No. PCT/US2011/60663, Search R..."
4,4245055,6377832,32,"Gatenby, et al., &#8220;Echo-Planar-Imaging St..."
...,...,...,...,...
51655,38410597,7759433,14,"Sartomer Company, Inc., SR348, 1 page, Dec. 2001."
51656,7350668,9768279,11,"Godo.H et al., “Temperature Dependence of Char..."
51657,48905667,11005022,12,Non-Final Office Action received for U.S. Appl...
51658,49711852,9927635,83,Wyszecki & Stiles. Color Science: Concepts an...
51659,38652580,8889216,34,"M.L.M. Balistreri, Visualizing the whispering ..."

In [193]:
get_nan_info(g_other_reference)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [194]:
g_other_reference = g_other_reference.drop('Unnamed: 0', axis=1)
g_other_reference

,patent_id,other_reference_sequence,other_reference_text
0,10859982,5,"Examiner's Report, Canadian Patent Application..."
1,9102958,344,"Strassner et al., “A homolog of old yellow enz..."
2,11203698,0,Craemer—DE 866596 C—IDS—MT—packaging with PVOH...
3,9401088,107,"PCT Application No. PCT/US2011/60663, Search R..."
4,6377832,32,"Gatenby, et al., &#8220;Echo-Planar-Imaging St..."
...,...,...,...
51655,7759433,14,"Sartomer Company, Inc., SR348, 1 page, Dec. 2001."
51656,9768279,11,"Godo.H et al., “Temperature Dependence of Char..."
51657,11005022,12,Non-Final Office Action received for U.S. Appl...
51658,9927635,83,Wyszecki & Stiles. Color Science: Concepts an...
51659,8889216,34,"M.L.M. Balistreri, Visualizing the whispering ..."

In [195]:
g_other_reference.to_csv(path_to_your_dataset + "/g_other_reference.csv", index=False)

In [196]:
g_patent = pd.read_csv(path_to_your_file + "/g_patent.csv")
g_patent

,Unnamed: 0,patent_id,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
0,12489,10012590,utility,2018-07-03,Methods and systems for biological instrument ...,"In one exemplary embodiment, a method for cali...",B2,20,0,ipg180703.xml
1,1255546,11265725,utility,2022-03-01,Systems and methods for allocating wireless co...,Systems and methods for avoiding interference ...,B2,15,0,ipg220301.xml
2,2872572,5360666,utility,1994-11-01,Device and method for shielding healthy tissue...,"During radiotherapy for malignant conditions,...",A,5,0,pftaps19941101_wk44.zip
3,1782671,4267588,utility,1981-05-12,Hourglass construction,An hourglass construction comprising a pair o...,A,1,0,pftaps19810512_wk19.zip
4,1197879,11207531,utility,2021-12-28,Hybrid communication channel for communicating...,An apparatus comprises a communication channel...,B2,20,0,ipg211228.xml
...,...,...,...,...,...,...,...,...,...,...
5003,2377919,4863627,utility,1989-09-05,Cleaning and/or disinfection of contact lenses,A contact lens disinfecting composition in so...,A,12,0,pftaps19890905_wk36.zip
5004,1614707,4099403,utility,1978-07-11,In-line wire drawing machine,The drum of an in-line wire drawing machine i...,A,6,0,pftaps19780711_wk28.zip
5005,4106704,6604760,utility,2003-08-12,Quick connect/disconnect coupling,A coupling assembly that includes: a) a female...,B2,48,0,pg030812.zip
5006,2615715,5102107,utility,1992-04-07,Resilient supports for shock absorbing systems,A resilient support for a suspension system o...,A,25,0,pftaps19920407_wk14.zip
5007,2478836,4964723,utility,1990-10-23,Process and device for detecting the coming in...,This process for detecting the coming interpo...,A,5,0,pftaps19901023_wk43.zip

In [197]:
get_nan_info(g_patent)

                 NaN Count  NaN Percentage
patent_abstract          1        0.019968

In [198]:
g_patent = g_patent.drop('Unnamed: 0', axis=1)
g_patent

,patent_id,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
0,10012590,utility,2018-07-03,Methods and systems for biological instrument ...,"In one exemplary embodiment, a method for cali...",B2,20,0,ipg180703.xml
1,11265725,utility,2022-03-01,Systems and methods for allocating wireless co...,Systems and methods for avoiding interference ...,B2,15,0,ipg220301.xml
2,5360666,utility,1994-11-01,Device and method for shielding healthy tissue...,"During radiotherapy for malignant conditions,...",A,5,0,pftaps19941101_wk44.zip
3,4267588,utility,1981-05-12,Hourglass construction,An hourglass construction comprising a pair o...,A,1,0,pftaps19810512_wk19.zip
4,11207531,utility,2021-12-28,Hybrid communication channel for communicating...,An apparatus comprises a communication channel...,B2,20,0,ipg211228.xml
...,...,...,...,...,...,...,...,...,...
5003,4863627,utility,1989-09-05,Cleaning and/or disinfection of contact lenses,A contact lens disinfecting composition in so...,A,12,0,pftaps19890905_wk36.zip
5004,4099403,utility,1978-07-11,In-line wire drawing machine,The drum of an in-line wire drawing machine i...,A,6,0,pftaps19780711_wk28.zip
5005,6604760,utility,2003-08-12,Quick connect/disconnect coupling,A coupling assembly that includes: a) a female...,B2,48,0,pg030812.zip
5006,5102107,utility,1992-04-07,Resilient supports for shock absorbing systems,A resilient support for a suspension system o...,A,25,0,pftaps19920407_wk14.zip
5007,4964723,utility,1990-10-23,Process and device for detecting the coming in...,This process for detecting the coming interpo...,A,5,0,pftaps19901023_wk43.zip

In [199]:
g_patent.to_csv(path_to_your_dataset + "/g_patent.csv", index=False)

In [200]:
g_pct_data = pd.read_csv(path_to_your_file + "/g_pct_data.csv")
g_pct_data

,Unnamed: 0,patent_id,published_or_filed_date,pct_371_date,pct_102_date,filed_country,application_kind,pct_doc_number,pct_doc_type
0,755136,9090120,2009-07-02,NaN,NaN,WO,A,WO2009/081077,wo_grant
1,1418812,11298944,2019-08-01,NaN,NaN,WO,A,WO2019/147238,wo_grant
2,1768109,8367588,2007-04-26,NaN,NaN,WO,A,WO2007/047301,wo_grant
3,1176254,10326247,2016-05-12,2017-11-13,NaN,WO,00,PCT/US2016/032170,pct_application
4,501099,6652844,1999-12-29,NaN,NaN,WO,A,WO99/66885,wo_grant
...,...,...,...,...,...,...,...,...,...
1805,1803337,6344426,1999-11-25,NaN,NaN,WO,A,WO99/59936,wo_grant
1806,430331,5493932,1993-12-09,1994-03-28,1994-03-28,WO,A,WO93/24771,wo_grant
1807,428883,9482588,2013-12-10,NaN,NaN,WO,00,PCT/EP2013/076008,pct_application
1808,990414,7314878,2003-11-06,NaN,NaN,WO,A,WO03/091249,wo_grant
1809,1463900,7532984,2005-11-10,NaN,NaN,WO,A,WO2005/106190,wo_grant

In [201]:
get_nan_info(g_pct_data)

                         NaN Count  NaN Percentage
published_or_filed_date         20        1.104972
pct_371_date                   941       51.988950
pct_102_date                  1637       90.441989

In [202]:
g_pct_data = g_pct_data.drop(['Unnamed: 0', 'pct_371_date', 'pct_102_date'], axis=1)
g_pct_data

,patent_id,published_or_filed_date,filed_country,application_kind,pct_doc_number,pct_doc_type
0,9090120,2009-07-02,WO,A,WO2009/081077,wo_grant
1,11298944,2019-08-01,WO,A,WO2019/147238,wo_grant
2,8367588,2007-04-26,WO,A,WO2007/047301,wo_grant
3,10326247,2016-05-12,WO,00,PCT/US2016/032170,pct_application
4,6652844,1999-12-29,WO,A,WO99/66885,wo_grant
...,...,...,...,...,...,...
1805,6344426,1999-11-25,WO,A,WO99/59936,wo_grant
1806,5493932,1993-12-09,WO,A,WO93/24771,wo_grant
1807,9482588,2013-12-10,WO,00,PCT/EP2013/076008,pct_application
1808,7314878,2003-11-06,WO,A,WO03/091249,wo_grant
1809,7532984,2005-11-10,WO,A,WO2005/106190,wo_grant

In [203]:
g_pct_data.to_csv(path_to_your_dataset + "/g_pct_data.csv", index=False)

In [204]:
g_persistent_assignee = pd.read_csv(path_to_your_file + "/g_persistent_assignee.csv")
g_persistent_assignee

,Unnamed: 0,patent_id,sequence,disamb_assignee_id_20181127,disamb_assignee_id_20190312,disamb_assignee_id_20190820,disamb_assignee_id_20191008,disamb_assignee_id_20191231,disamb_assignee_id_20200331,disamb_assignee_id_20200630,disamb_assignee_id_20200929,disamb_assignee_id_20201229,disamb_assignee_id_20210330,disamb_assignee_id_20210629,disamb_assignee_id_20210930,disamb_assignee_id_20211230,disamb_assignee_id_20220630,disamb_assignee_id_20220929
0,2908670,11196010,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b4abd5fc-9cda-48db-b390-2eed37084a63,64638c92-c147-4fbd-9d63-4201e3f23291,111f9802-a112-4541-b80d-2e5a65f04f21
1,1580706,9985754,0,org_vhtWu21o8nVXJPQm82Rg,org_GlCCGnqN8vMZjKjrw0Tq,org_GJGwVjr8dDVpQVeOLjSd,org_JsCdsOxaICVKfa1YTfx3,org_aHCvJ4FiBF8YhP9MeUBV,org_BbAIACMTXltVdP4MCvvJ,org_rlvcWNKGX5o5RI8CkNoO,org_2Y1NeGvFOzUaI4vdkSbB,5718551a-fe57-489d-a94a-9286974683c0,48d6def0-ac34-4da9-8a70-252705e51d86,f6db2935-f67b-4c95-b2c2-829308fe8ae7,f198f462-d85f-4933-8926-65918beaf0ee,4a7adfa5-124c-4f30-96cd-913f300cc381,3ed3f7df-9762-49db-bcf1-603af59d5386,fb456a9d-df2a-4d2d-9144-7a4e4249f2f3
2,2942256,7780587,0,org_56HC4rvRKqCLJOpMB440,org_lYBre74sAtjNzAWYcl5F,org_qCgiUDSRTASY3ZuVkUvN,org_qAFmVnnXaktl1tOnCYDh,org_hFQyeJPxJIqzKCg22rmN,org_dAldnQcnf6WFOldMYB07,org_elfmkMoF2KXA3Er4n54O,org_TKylKIDLMrGTbC1DCPU2,5dae98e2-7bfb-45e9-b241-978b1c11f216,8f817fc5-e6b9-4d28-b7b2-c441fc763c64,8fffd50c-e550-42ac-b7bb-8cfb522049dc,42227efd-1d8c-4901-a28f-5e4c7e6648e1,f5b4eb76-1098-4cea-a27f-0444b5948c06,73962ac2-7f03-4369-89ae-0d21b835aaa1,c20f2016-c6e2-4923-b0af-e7adabaabaf5
3,5972575,8749780,0,org_VurotdCp59JZwmGzQ9Li,org_A67Jsu7BHbhyxn0yVzkC,org_W7v850HLy2ZVtiXjjAjn,org_V6KqN41ygd6ldIkEu2B8,org_sj0eElEkZwDOAf0XfIvZ,org_k9o9Vn4mhWBwICQkYjWg,org_3gquU6aCt8cD4lQ9agGf,org_o9UPHqD5n8K4VP6umKBa,51548bf8-eea6-4f03-81e3-086377a1297a,3a717e4f-75a4-46bf-84b7-b8fea9b25b93,533dab5b-cb5f-49c8-9530-a3b43bc87e79,0b417454-a2d4-4fce-b388-aaca654b4d08,2b794406-7f38-4f20-97ff-00123ec096c4,0922032d-7c25-478a-a4b0-3626f820e74d,2bc4438d-0cea-4ca2-804b-67ee99d7b166
4,7298667,5987574,1,org_XjIlDdoYYgJGUMgEOPe2,org_RJvnnMVF7yU5UMe0SwAN,org_5kpVKGjirvbYl2f7DCsu,org_bjjMpz8jmP43oeCb4YxD,org_Q6pPqhJsfXdeg1bVEtVe,org_wlnmaeHSmtZqoDkPsGSk,org_1YIQzOwrLWs6LeTY3aOa,org_kJNdmpp2LEmFUWw9WoAz,0c24d1af-71ad-4f4c-a570-b746ce6898cb,b7509d93-f138-4271-b5d3-4131722f138a,2cf4dbef-9b66-43c1-a377-f075bcc23bee,ab65aefa-fa12-4257-9490-3223086ae5fc,89e5d47d-a6c8-4dbc-b190-2a0bb9fb5970,20d12005-8c90-42fb-af30-e1e8852cd06f,02fc5693-291f-401a-8c34-36b5f48363c1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7591,5878481,7758665,0,org_M2OpwmmiKFc9AIjvXE1l,org_7jV2ukXEexps84VHVoNf,org_ifAP4xgbhCbw7Hac2DGu,org_VgzNvDNDgyk0gnryYTP2,org_QKSYTSfz1Go8lfqqj85h,org_2oIzFxVe9VRNwWv613ZB,org_eMru4qYmPFZU5zVkkJiM,org_4QXNrIy3OFmyCRpaXWug,de62d493-46c2-484d-a8cc-949456a4bbf7,f9bb38a2-e50d-4263-960c-468e83ceb96e,15d8c3b9-eb5f-4b8a-a5b8-b5e2c0e4f3fe,92a99611-8b5b-4e30-91b9-9078d02cce8d,d6ab711e-5c6b-4bf8-8711-6205716c9e45,4d46eab7-b111-4757-8a5d-f116d07d2a86,9d82451a-0b14-40cb-8004-ba1241dc3f2f
7592,425977,6256044,0,org_TwhNKMMfMyCT7S6wIO2j,org_Z84p09AWW882RvyKamiv,org_XiOLKtT6NTPGeicJqgiL,org_FwEQUjIIxU2QRS4Lr0AS,org_yqMOkjI3TeB1HwuSyGT6,org_6nTE4yDx7TIqmaaUbckp,org_PDnbVfNIvsgOoGVKNfnP,org_dEOKY08h6eN5wetIxhsM,5a5c2a76-de50-44d1-8c54-82e4c8fd253c,934e7307-b50a-49fe-b0fa-3a08c5d69e8a,a6e2e98d-ca33-48d3-83f9-1211a1ee4c10,30c0eb23-0473-4426-919b-4f217d59a4a9,d6b90366-5951-4286-920c-ac18925c58fc,00501db1-74e4-4dc5-a2a3-ba81577d157e,928e0323-a839-43a5-b4e5-38b6c21301d2
7593,4465029,9696007,0,org_8cRpaysx6onH7MeTpxnO,org_gpjcYgx2G9C0u08woqjq,org_arW3QCC23u7fRAQrKyci,org_cWIZLoppAzGfaGySepVa,org_XcRzKec3NZMPD7pq16v7,org_PRPCt1Hi7dOFYL1OvdAf,org_rDd5ArbGiKma6lCT8NZc,org_YZlmTwJhEIXcV2yMHE09,9de2089c-2b1c-4bff-9451-b2d23876f830,033256bc-7731-46ed-85c4-9fd080039fa3,f9fbb639-3661-4871-9036-397d86184db6,747f8d56-231a-4878-ab11-ba7c14dbb859,9d8d6ab8-9b0b-43e5-8fde-daadbbaf2182,462879a9-9dfe-47f8-8fcf-4762af2a38f0,a9e4d96f-b82d-4101-95cd-d389b8eff09f
7594,725002,10005798,0,org_FiNYh7JO006gEh6F7eV5,org_rXrvryfJrIULWqPofVia,org_utXda14AzEnRjhQpOQl1,org_nLh0FVm6qkdrYB4ukriu,org_WUn92jPNxVFEJVeFztfH,org_snBXytfxINpSlAvejevf,org_xiJH5Daf92GdrlsimZtD,org_rB0h4aGJjIK8Hmfq4bvL,683e27be-11a1-4801-944d-7de2146d6fd2,4ce24a0a-ed15-4f9c-abc0-cccd024b3205,1ce55d1e-1fa7-4af6-8bda-9c8dd6a545a6,ef4b67f9-dcf2-48e7-965f-653848dd48ff,f9abe1e4-20cb-4016-8f0e-7f7f468d778b,7e16d0fc-311b-4125-b0b2-0a9d4e6ceaf8,1ac8c8f0-4699-4c2c-b067-c7fce7c8787b
7595,1877220,11202395,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6e2451f8-176d-4a08-b6d1-8c1b0de6387b,57119420-39dc-41b8-96eb-fd91ea9a4993,d80784f4-9aed-4751-b456-a8271cf5cafc

In [205]:
get_nan_info(g_persistent_assignee)

                             NaN Count  NaN Percentage
disamb_assignee_id_20181127       1559       20.523960
disamb_assignee_id_20190312       1464       19.273302
disamb_assignee_id_20190820       1270       16.719326
disamb_assignee_id_20191008       1199       15.784623
disamb_assignee_id_20191231       1112       14.639284
disamb_assignee_id_20200331       1022       13.454450
disamb_assignee_id_20200630        786       10.347551
disamb_assignee_id_20200929        777       10.229068
disamb_assignee_id_20201229        689        9.070563
disamb_assignee_id_20210330        462        6.082148
disamb_assignee_id_20210629        418        5.502896
disamb_assignee_id_20210930        270        3.554502
disamb_assignee_id_20211230        242        3.185887
disamb_assignee_id_20220630         85        1.119010

In [206]:
g_persistent_assignee = g_persistent_assignee.drop('Unnamed: 0', axis=1)
g_persistent_assignee

,patent_id,sequence,disamb_assignee_id_20181127,disamb_assignee_id_20190312,disamb_assignee_id_20190820,disamb_assignee_id_20191008,disamb_assignee_id_20191231,disamb_assignee_id_20200331,disamb_assignee_id_20200630,disamb_assignee_id_20200929,disamb_assignee_id_20201229,disamb_assignee_id_20210330,disamb_assignee_id_20210629,disamb_assignee_id_20210930,disamb_assignee_id_20211230,disamb_assignee_id_20220630,disamb_assignee_id_20220929
0,11196010,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b4abd5fc-9cda-48db-b390-2eed37084a63,64638c92-c147-4fbd-9d63-4201e3f23291,111f9802-a112-4541-b80d-2e5a65f04f21
1,9985754,0,org_vhtWu21o8nVXJPQm82Rg,org_GlCCGnqN8vMZjKjrw0Tq,org_GJGwVjr8dDVpQVeOLjSd,org_JsCdsOxaICVKfa1YTfx3,org_aHCvJ4FiBF8YhP9MeUBV,org_BbAIACMTXltVdP4MCvvJ,org_rlvcWNKGX5o5RI8CkNoO,org_2Y1NeGvFOzUaI4vdkSbB,5718551a-fe57-489d-a94a-9286974683c0,48d6def0-ac34-4da9-8a70-252705e51d86,f6db2935-f67b-4c95-b2c2-829308fe8ae7,f198f462-d85f-4933-8926-65918beaf0ee,4a7adfa5-124c-4f30-96cd-913f300cc381,3ed3f7df-9762-49db-bcf1-603af59d5386,fb456a9d-df2a-4d2d-9144-7a4e4249f2f3
2,7780587,0,org_56HC4rvRKqCLJOpMB440,org_lYBre74sAtjNzAWYcl5F,org_qCgiUDSRTASY3ZuVkUvN,org_qAFmVnnXaktl1tOnCYDh,org_hFQyeJPxJIqzKCg22rmN,org_dAldnQcnf6WFOldMYB07,org_elfmkMoF2KXA3Er4n54O,org_TKylKIDLMrGTbC1DCPU2,5dae98e2-7bfb-45e9-b241-978b1c11f216,8f817fc5-e6b9-4d28-b7b2-c441fc763c64,8fffd50c-e550-42ac-b7bb-8cfb522049dc,42227efd-1d8c-4901-a28f-5e4c7e6648e1,f5b4eb76-1098-4cea-a27f-0444b5948c06,73962ac2-7f03-4369-89ae-0d21b835aaa1,c20f2016-c6e2-4923-b0af-e7adabaabaf5
3,8749780,0,org_VurotdCp59JZwmGzQ9Li,org_A67Jsu7BHbhyxn0yVzkC,org_W7v850HLy2ZVtiXjjAjn,org_V6KqN41ygd6ldIkEu2B8,org_sj0eElEkZwDOAf0XfIvZ,org_k9o9Vn4mhWBwICQkYjWg,org_3gquU6aCt8cD4lQ9agGf,org_o9UPHqD5n8K4VP6umKBa,51548bf8-eea6-4f03-81e3-086377a1297a,3a717e4f-75a4-46bf-84b7-b8fea9b25b93,533dab5b-cb5f-49c8-9530-a3b43bc87e79,0b417454-a2d4-4fce-b388-aaca654b4d08,2b794406-7f38-4f20-97ff-00123ec096c4,0922032d-7c25-478a-a4b0-3626f820e74d,2bc4438d-0cea-4ca2-804b-67ee99d7b166
4,5987574,1,org_XjIlDdoYYgJGUMgEOPe2,org_RJvnnMVF7yU5UMe0SwAN,org_5kpVKGjirvbYl2f7DCsu,org_bjjMpz8jmP43oeCb4YxD,org_Q6pPqhJsfXdeg1bVEtVe,org_wlnmaeHSmtZqoDkPsGSk,org_1YIQzOwrLWs6LeTY3aOa,org_kJNdmpp2LEmFUWw9WoAz,0c24d1af-71ad-4f4c-a570-b746ce6898cb,b7509d93-f138-4271-b5d3-4131722f138a,2cf4dbef-9b66-43c1-a377-f075bcc23bee,ab65aefa-fa12-4257-9490-3223086ae5fc,89e5d47d-a6c8-4dbc-b190-2a0bb9fb5970,20d12005-8c90-42fb-af30-e1e8852cd06f,02fc5693-291f-401a-8c34-36b5f48363c1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7591,7758665,0,org_M2OpwmmiKFc9AIjvXE1l,org_7jV2ukXEexps84VHVoNf,org_ifAP4xgbhCbw7Hac2DGu,org_VgzNvDNDgyk0gnryYTP2,org_QKSYTSfz1Go8lfqqj85h,org_2oIzFxVe9VRNwWv613ZB,org_eMru4qYmPFZU5zVkkJiM,org_4QXNrIy3OFmyCRpaXWug,de62d493-46c2-484d-a8cc-949456a4bbf7,f9bb38a2-e50d-4263-960c-468e83ceb96e,15d8c3b9-eb5f-4b8a-a5b8-b5e2c0e4f3fe,92a99611-8b5b-4e30-91b9-9078d02cce8d,d6ab711e-5c6b-4bf8-8711-6205716c9e45,4d46eab7-b111-4757-8a5d-f116d07d2a86,9d82451a-0b14-40cb-8004-ba1241dc3f2f
7592,6256044,0,org_TwhNKMMfMyCT7S6wIO2j,org_Z84p09AWW882RvyKamiv,org_XiOLKtT6NTPGeicJqgiL,org_FwEQUjIIxU2QRS4Lr0AS,org_yqMOkjI3TeB1HwuSyGT6,org_6nTE4yDx7TIqmaaUbckp,org_PDnbVfNIvsgOoGVKNfnP,org_dEOKY08h6eN5wetIxhsM,5a5c2a76-de50-44d1-8c54-82e4c8fd253c,934e7307-b50a-49fe-b0fa-3a08c5d69e8a,a6e2e98d-ca33-48d3-83f9-1211a1ee4c10,30c0eb23-0473-4426-919b-4f217d59a4a9,d6b90366-5951-4286-920c-ac18925c58fc,00501db1-74e4-4dc5-a2a3-ba81577d157e,928e0323-a839-43a5-b4e5-38b6c21301d2
7593,9696007,0,org_8cRpaysx6onH7MeTpxnO,org_gpjcYgx2G9C0u08woqjq,org_arW3QCC23u7fRAQrKyci,org_cWIZLoppAzGfaGySepVa,org_XcRzKec3NZMPD7pq16v7,org_PRPCt1Hi7dOFYL1OvdAf,org_rDd5ArbGiKma6lCT8NZc,org_YZlmTwJhEIXcV2yMHE09,9de2089c-2b1c-4bff-9451-b2d23876f830,033256bc-7731-46ed-85c4-9fd080039fa3,f9fbb639-3661-4871-9036-397d86184db6,747f8d56-231a-4878-ab11-ba7c14dbb859,9d8d6ab8-9b0b-43e5-8fde-daadbbaf2182,462879a9-9dfe-47f8-8fcf-4762af2a38f0,a9e4d96f-b82d-4101-95cd-d389b8eff09f
7594,10005798,0,org_FiNYh7JO006gEh6F7eV5,org_rXrvryfJrIULWqPofVia,org_utXda14AzEnRjhQpOQl1,org_nLh0FVm6qkdrYB4ukriu,org_WUn92jPNxVFEJVeFztfH,org_snBXytfxINpSlAvejevf,org_xiJH5Daf92GdrlsimZtD,org_rB0h4aGJjIK8Hmfq4bvL,683e27be-11a1-4801-944d-7de2146d6fd2,4ce24a0a-ed15-4f9c-abc0-cccd024b3205,1ce55d1e-1fa7-4af6-8bda-9c8dd6a545a6,ef4b67f9-dcf2-48e7-965f-653848dd48ff,f9abe1e4-20cb-4016-8f0e-7f7f468d778b,7e16d0fc-311b-4125-b0b2-0a9d4e6ceaf8,1ac8c8f0-4699-4c2c-b067-c7fce7c8787b
7595,11202395,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6e2451f8-176d-4a08-b6d1-8c1b0de6387b,57119420-39dc-41b8-96eb-fd91ea9a4993,d80784f4-9aed-4751-b456-a8271cf5cafc

In [207]:
g_persistent_assignee.to_csv(path_to_your_dataset + "/g_persistent_assignee.csv", index=False)

In [208]:
g_persistent_inventor = pd.read_csv(path_to_your_file + "/g_persistent_inventor.csv")
g_persistent_inventor

,Unnamed: 0,patent_id,sequence,disamb_inventor_id_20170808,disamb_inventor_id_20171003,disamb_inventor_id_20171226,disamb_inventor_id_20180528,disamb_inventor_id_20181127,disamb_inventor_id_20190312,disamb_inventor_id_20190820,disamb_inventor_id_20191008,disamb_inventor_id_20191231,disamb_inventor_id_20200331,disamb_inventor_id_20200630,disamb_inventor_id_20200929,disamb_inventor_id_20201229,disamb_inventor_id_20211230,disamb_inventor_id_20220630,disamb_inventor_id_20220929
0,7541111,D872272,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D454732-2,D454732-2,D454732-2,fl:a_ln:ponholzer-1,fl:an_ln:ponholzer-1,fl:an_ln:ponholzer-1,fl:an_ln:ponholzer-1
1,8319240,8454634,6,6837848-4,6837848-4,6837848-4,6837848-4,10112045-6,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,fl:r_ln:usher-2,fl:ra_ln:usher-1,fl:ra_ln:usher-1,fl:ra_ln:usher-1
2,7936398,9209147,3,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,fl:z_ln:poh-1,fl:zi_ln:poh-1,fl:zi_ln:poh-1,fl:zi_ln:poh-1
3,15477117,7975207,3,5045714-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,fl:h_ln:park-383,fl:hy_ln:park-260,fl:hy_ln:park-153,fl:hy_ln:park-216
4,19977461,D630803,1,8074969-2,8074969-2,8074969-2,8074969-2,8074969-2,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,fl:k_ln:xin-1,fl:ke_ln:xin-1,fl:ke_ln:xin-1,fl:ke_ln:xin-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20422,11662601,9420839,0,5940889-1,5940889-1,5940889-1,9420839-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,fl:s_ln:shirai-16,fl:sy_ln:shirai-2,fl:sy_ln:shirai-2,fl:sy_ln:shirai-2
20423,16097535,5902384,4,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,fl:r_ln:dondero-1,fl:ru_ln:dondero-1,fl:ru_ln:dondero-1,fl:ru_ln:dondero-1
20424,16273687,6756986,0,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,fl:d_ln:kuo-6,fl:do_ln:kuo-2,fl:do_ln:kuo-2,fl:do_ln:kuo-2
20425,16953346,10883193,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl:tz_ln:wei-9,fl:tz_ln:wei-8,fl:tz_ln:wei-8
20426,10982424,9701674,9,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8623869-7,fl:a_ln:virani-1,fl:an_ln:virani-2,fl:an_ln:virani-2,fl:an_ln:virani-2

In [209]:
get_nan_info(g_persistent_inventor)

                             NaN Count  NaN Percentage
disamb_inventor_id_20170808       5473       26.792970
disamb_inventor_id_20171003       5319       26.039066
disamb_inventor_id_20171226       5068       24.810300
disamb_inventor_id_20180528       4708       23.047927
disamb_inventor_id_20181127       4225       20.683409
disamb_inventor_id_20190312       3903       19.107064
disamb_inventor_id_20190820       3410       16.693592
disamb_inventor_id_20191008       3264       15.978852
disamb_inventor_id_20191231       3033       14.847995
disamb_inventor_id_20200331       2747       13.447888
disamb_inventor_id_20200630       2457       12.028198
disamb_inventor_id_20200929       2457       12.028198
disamb_inventor_id_20201229       2166       10.603613
disamb_inventor_id_20211230        582        2.849170
disamb_inventor_id_20220630        271        1.326675

In [210]:
g_persistent_inventor = g_persistent_inventor.drop('Unnamed: 0', axis=1)
g_persistent_inventor

,patent_id,sequence,disamb_inventor_id_20170808,disamb_inventor_id_20171003,disamb_inventor_id_20171226,disamb_inventor_id_20180528,disamb_inventor_id_20181127,disamb_inventor_id_20190312,disamb_inventor_id_20190820,disamb_inventor_id_20191008,disamb_inventor_id_20191231,disamb_inventor_id_20200331,disamb_inventor_id_20200630,disamb_inventor_id_20200929,disamb_inventor_id_20201229,disamb_inventor_id_20211230,disamb_inventor_id_20220630,disamb_inventor_id_20220929
0,D872272,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D454732-2,D454732-2,D454732-2,fl:a_ln:ponholzer-1,fl:an_ln:ponholzer-1,fl:an_ln:ponholzer-1,fl:an_ln:ponholzer-1
1,8454634,6,6837848-4,6837848-4,6837848-4,6837848-4,10112045-6,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,6837848-4,fl:r_ln:usher-2,fl:ra_ln:usher-1,fl:ra_ln:usher-1,fl:ra_ln:usher-1
2,9209147,3,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,9165904-2,fl:z_ln:poh-1,fl:zi_ln:poh-1,fl:zi_ln:poh-1,fl:zi_ln:poh-1
3,7975207,3,5045714-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,5608532-1,fl:h_ln:park-383,fl:hy_ln:park-260,fl:hy_ln:park-153,fl:hy_ln:park-216
4,D630803,1,8074969-2,8074969-2,8074969-2,8074969-2,8074969-2,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,D538484-1,fl:k_ln:xin-1,fl:ke_ln:xin-1,fl:ke_ln:xin-1,fl:ke_ln:xin-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20422,9420839,0,5940889-1,5940889-1,5940889-1,9420839-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,5940889-1,fl:s_ln:shirai-16,fl:sy_ln:shirai-2,fl:sy_ln:shirai-2,fl:sy_ln:shirai-2
20423,5902384,4,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,5744236-6,fl:r_ln:dondero-1,fl:ru_ln:dondero-1,fl:ru_ln:dondero-1,fl:ru_ln:dondero-1
20424,6756986,0,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,5561615-1,fl:d_ln:kuo-6,fl:do_ln:kuo-2,fl:do_ln:kuo-2,fl:do_ln:kuo-2
20425,10883193,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl:tz_ln:wei-9,fl:tz_ln:wei-8,fl:tz_ln:wei-8
20426,9701674,9,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8410112-17,8623869-7,fl:a_ln:virani-1,fl:an_ln:virani-2,fl:an_ln:virani-2,fl:an_ln:virani-2

In [211]:
g_persistent_inventor.to_csv(path_to_your_dataset + "/g_persistent_inventor.csv", index=False)

In [212]:
g_rel_app_text = pd.read_csv(path_to_your_file + "/g_rel_app_text.csv")
g_rel_app_text

      Unnamed: 0 patent_id                                       rel_app_text
0         626034  10652863  This is a continuation of application Ser. No....
1         753957  10434545  This application claims priority to PCT Patent...
2        2141315   7421815  This invention is a continuation in part of U....
3         478578   8313296  CROSS REFERENCE This application is a Continua...
4        2150279  10836959  This is the U.S. National Phase application of...
...          ...       ...                                                ...
2235     1795660   8426041  This application is a division of U.S. applica...
2236     2150758  10393288  This application is a Divisional of copending ...
2237     1758990   9788890  CROSS-REFERENCE TO RELATED APPLICATIONS This a...
2238     1579776   9293995  INCORPORATION BY REFERENCE This application is...
2239      337734   6850470  CROSS REFERENCE TO RELATED APPLICATION This is...

[2240 rows x 3 columns]

In [213]:
get_nan_info(g_rel_app_text)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [214]:
g_rel_app_text = g_rel_app_text.drop('Unnamed: 0', axis=1)
g_rel_app_text

     patent_id                                       rel_app_text
0     10652863  This is a continuation of application Ser. No....
1     10434545  This application claims priority to PCT Patent...
2      7421815  This invention is a continuation in part of U....
3      8313296  CROSS REFERENCE This application is a Continua...
4     10836959  This is the U.S. National Phase application of...
...        ...                                                ...
2235   8426041  This application is a division of U.S. applica...
2236  10393288  This application is a Divisional of copending ...
2237   9788890  CROSS-REFERENCE TO RELATED APPLICATIONS This a...
2238   9293995  INCORPORATION BY REFERENCE This application is...
2239   6850470  CROSS REFERENCE TO RELATED APPLICATION This is...

[2240 rows x 2 columns]

In [215]:
g_rel_app_text.to_csv(path_to_your_dataset + "/g_rel_app_text.csv", index=False)

In [216]:
g_uspc_at_issue = pd.read_csv(path_to_your_file + "/g_uspc_at_issue.csv")
g_uspc_at_issue

,Unnamed: 0,patent_id,uspc_sequence,uspc_mainclass_id,uspc_mainclass_title,uspc_subclass_id,uspc_subclass_title
0,6272397,4585502,8,427,COATING PROCESSES,427/302,"Resin, rubber, or hardenable oil containing co..."
1,3259916,6271137,0,438,SEMICONDUCTOR DEVICE MANUFACTURING: PROCESS,438/688,Aluminum or aluminum alloy conductor
2,8073829,9028500,0,606,SURGERY,606/1,INSTRUMENTS
3,2912133,7961654,0,370,MULTIPLEX COMMUNICATIONS,370/294,Time division
4,12434592,5747161,2,428,STOCK MATERIAL OR MISCELLANEOUS ARTICLES,428/398,Tubular or cellular
...,...,...,...,...,...,...,...
14134,5437628,4220455,1,51,"ABRASIVE TOOL MAKING PROCESS, MATERIAL, OR COM...",51/307,WITH INORGANIC MATERIAL
14135,11535393,7781510,1,524,SYNTHETIC RESINS OR NATURAL RUBBERS -- PART OF...,524/582,From propylene as sole reactant monomer
14136,7688943,6313073,0,504,PLANT PROTECTING AND REGULATING COMPOSITIONS,504/348,Ketones or aldehydes
14137,900639,5025635,4,62,REFRIGERATION,62/480,With solid sorbent
14138,13783776,7928654,7,313,ELECTRIC LAMP AND DISCHARGE DEVICES,313/509,With dielectric layer

In [217]:
get_nan_info(g_uspc_at_issue)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [218]:
g_uspc_at_issue = g_uspc_at_issue.drop('Unnamed: 0', axis=1)
g_uspc_at_issue

,patent_id,uspc_sequence,uspc_mainclass_id,uspc_mainclass_title,uspc_subclass_id,uspc_subclass_title
0,4585502,8,427,COATING PROCESSES,427/302,"Resin, rubber, or hardenable oil containing co..."
1,6271137,0,438,SEMICONDUCTOR DEVICE MANUFACTURING: PROCESS,438/688,Aluminum or aluminum alloy conductor
2,9028500,0,606,SURGERY,606/1,INSTRUMENTS
3,7961654,0,370,MULTIPLEX COMMUNICATIONS,370/294,Time division
4,5747161,2,428,STOCK MATERIAL OR MISCELLANEOUS ARTICLES,428/398,Tubular or cellular
...,...,...,...,...,...,...
14134,4220455,1,51,"ABRASIVE TOOL MAKING PROCESS, MATERIAL, OR COM...",51/307,WITH INORGANIC MATERIAL
14135,7781510,1,524,SYNTHETIC RESINS OR NATURAL RUBBERS -- PART OF...,524/582,From propylene as sole reactant monomer
14136,6313073,0,504,PLANT PROTECTING AND REGULATING COMPOSITIONS,504/348,Ketones or aldehydes
14137,5025635,4,62,REFRIGERATION,62/480,With solid sorbent
14138,7928654,7,313,ELECTRIC LAMP AND DISCHARGE DEVICES,313/509,With dielectric layer

In [219]:
g_uspc_at_issue.to_csv(path_to_your_dataset + "/g_uspc_at_issue.csv", index=False)

In [220]:
g_us_application_citation = pd.read_csv(path_to_your_file + "/g_us_application_citation.csv")
g_us_application_citation

,Unnamed: 0,patent_id,citation_sequence,citation_document_number,citation_date,record_name,wipo_kind,citation_category
0,24373436,9573835,15,2011/0233562,2011-09-01,Harada et al.,A1,cited by applicant
1,8190021,9003386,1,2006/0015641,2006-01-01,Ocko et al.,A1,cited by examiner
2,11901057,10350390,170,2011/0200171,2011-08-01,Betteletal,A1,cited by applicant
3,18645137,11437600,9,2012/0287026,2012-11-01,Masuda,A1,cited by applicant
4,46901185,10668610,9,2018/0085907,2018-03-01,Wilson,A1,cited by examiner
...,...,...,...,...,...,...,...,...
56876,7316189,11040821,4,2008/0035663,2008-02-01,Byl et al.,A1,cited by applicant
56877,8705197,10506308,8,2018/0257067,2018-09-01,Kang,A1,cited by examiner
56878,11572647,8727415,2,2006/0091171,2006-05-01,Wardell et al.,A1,cited by applicant
56879,17158831,10758207,328,2012/0004668,2012-01-01,Wallace et al.,A1,cited by applicant
56880,31269380,10616075,754,2011/0125846,2011-05-01,Ham et al.,A1,cited by applicant

In [221]:
get_nan_info(g_us_application_citation)

           NaN Count  NaN Percentage
wipo_kind          7        0.012306

In [222]:
g_us_application_citation = g_us_application_citation.drop('Unnamed: 0', axis=1)
g_us_application_citation

,patent_id,citation_sequence,citation_document_number,citation_date,record_name,wipo_kind,citation_category
0,9573835,15,2011/0233562,2011-09-01,Harada et al.,A1,cited by applicant
1,9003386,1,2006/0015641,2006-01-01,Ocko et al.,A1,cited by examiner
2,10350390,170,2011/0200171,2011-08-01,Betteletal,A1,cited by applicant
3,11437600,9,2012/0287026,2012-11-01,Masuda,A1,cited by applicant
4,10668610,9,2018/0085907,2018-03-01,Wilson,A1,cited by examiner
...,...,...,...,...,...,...,...
56876,11040821,4,2008/0035663,2008-02-01,Byl et al.,A1,cited by applicant
56877,10506308,8,2018/0257067,2018-09-01,Kang,A1,cited by examiner
56878,8727415,2,2006/0091171,2006-05-01,Wardell et al.,A1,cited by applicant
56879,10758207,328,2012/0004668,2012-01-01,Wallace et al.,A1,cited by applicant
56880,10616075,754,2011/0125846,2011-05-01,Ham et al.,A1,cited by applicant

In [223]:
g_us_application_citation.to_csv(path_to_your_dataset + "/g_us_application_citation.csv", index=False)

In [224]:
g_us_patent_citation = pd.read_csv(path_to_your_file + "/g_us_patent_citation.csv")
g_us_patent_citation

,Unnamed: 0,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category
0,93611590,9935478,24,7952232,2011-05-01,Burra et al.,B2,cited by applicant
1,78446034,9222069,24,7033831,2006-04-01,Fisk et al.,B2,cited by applicant
2,20832961,6265716,6,5118937,1992-06-01,Hillenkamp et al.,NaN,NaN
3,30765655,6942263,8,6523872,2003-02-01,Breed,B2,cited by examiner
4,101148509,10272098,6,7863259,2011-01-01,Sung et al.,B1,cited by applicant
...,...,...,...,...,...,...,...,...
128396,24940213,6562625,372,5529755,1996-06-01,Higashio et al.,A,cited by other
128397,87120677,D785284,181,7971274,2011-07-01,"Graneto, III",B2,cited by examiner
128398,101280494,D847489,423,D783771,2017-04-01,Stegemoeller,S,cited by examiner
128399,23560629,6463814,4,4796475,1989-01-01,Marpel,A,cited by examiner
128400,41203646,7502823,1,5812779,1998-09-01,Ciscon et al.,A,cited by other

In [225]:
get_nan_info(g_us_patent_citation)

                   NaN Count  NaN Percentage
wipo_kind              23910        18.62135
citation_category      24028        18.71325

In [226]:
g_us_patent_citation = g_us_patent_citation.drop('Unnamed: 0', axis=1)
g_us_patent_citation

,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category
0,9935478,24,7952232,2011-05-01,Burra et al.,B2,cited by applicant
1,9222069,24,7033831,2006-04-01,Fisk et al.,B2,cited by applicant
2,6265716,6,5118937,1992-06-01,Hillenkamp et al.,NaN,NaN
3,6942263,8,6523872,2003-02-01,Breed,B2,cited by examiner
4,10272098,6,7863259,2011-01-01,Sung et al.,B1,cited by applicant
...,...,...,...,...,...,...,...
128396,6562625,372,5529755,1996-06-01,Higashio et al.,A,cited by other
128397,D785284,181,7971274,2011-07-01,"Graneto, III",B2,cited by examiner
128398,D847489,423,D783771,2017-04-01,Stegemoeller,S,cited by examiner
128399,6463814,4,4796475,1989-01-01,Marpel,A,cited by examiner
128400,7502823,1,5812779,1998-09-01,Ciscon et al.,A,cited by other

In [227]:
g_us_patent_citation.to_csv(path_to_your_dataset + "/g_us_patent_citation.csv", index=False)

In [228]:
g_us_rel_doc = pd.read_csv(path_to_your_file + "/g_us_rel_doc.csv")
g_us_rel_doc

,Unnamed: 0,patent_id,related_doc_number,published_country,related_doc_type,related_doc_kind,related_doc_published_date,related_doc_status,related_doc_sequence,wipo_kind
0,6270329,10729567,20180161182,US,related-publication,NaN,2018-06-14,NaN,15,A1
1,2932435,10890482,20200232846,US,related-publication,NaN,2020-07-23,NaN,0,A1
2,8386608,7430265,PCT/DE03/02118,US,continuation,parent-doc,2003-06-25,PENDING,0,00
3,2317307,10875392,20200340744,US,related-publication,NaN,2020-10-29,NaN,0,A1
4,8048122,D947878,D916742,US,division,parent-grant-document,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...
13206,6874901,7569841,20060255284,US,related-publication,NaN,2006-11-16,NaN,1,A1
13207,10637422,10964161,9947176,US,continuation,parent-grant-document,2018-04-17,NaN,7,NaN
13208,3443525,7782527,60797931,US,us-provisional-application,NaN,2006-05-05,NaN,3,00
13209,4661583,11007895,9488697,US,continuation,parent-grant-document,2016-11-08,NaN,4,NaN
13210,4075383,8069809,20080134953,US,related-publication,NaN,2008-06-12,NaN,2,A1

In [229]:
get_nan_info(g_us_rel_doc)

                            NaN Count  NaN Percentage
published_country                 186        1.407918
related_doc_kind                 6244       47.263644
related_doc_published_date       4033       30.527591
related_doc_status              12436       94.133676
wipo_kind                        7307       55.309969

In [230]:
g_us_rel_doc = g_us_rel_doc.drop(['Unnamed: 0', 'related_doc_status', 'wipo_kind'], axis=1)
g_us_rel_doc

,patent_id,related_doc_number,published_country,related_doc_type,related_doc_kind,related_doc_published_date,related_doc_sequence
0,10729567,20180161182,US,related-publication,NaN,2018-06-14,15
1,10890482,20200232846,US,related-publication,NaN,2020-07-23,0
2,7430265,PCT/DE03/02118,US,continuation,parent-doc,2003-06-25,0
3,10875392,20200340744,US,related-publication,NaN,2020-10-29,0
4,D947878,D916742,US,division,parent-grant-document,NaN,1
...,...,...,...,...,...,...,...
13206,7569841,20060255284,US,related-publication,NaN,2006-11-16,1
13207,10964161,9947176,US,continuation,parent-grant-document,2018-04-17,7
13208,7782527,60797931,US,us-provisional-application,NaN,2006-05-05,3
13209,11007895,9488697,US,continuation,parent-grant-document,2016-11-08,4
13210,8069809,20080134953,US,related-publication,NaN,2008-06-12,2

In [231]:
g_us_rel_doc.to_csv(path_to_your_dataset + "/g_us_rel_doc.csv", index=False)

In [232]:
g_us_term_of_grant = pd.read_csv(path_to_your_file + "/g_us_term_of_grant.csv")
g_us_term_of_grant

,Unnamed: 0,patent_id,disclaimer_date,term_disclaimer,term_grant,term_extension
0,3924418,4625261,2000-11-15,NaN,NaN,NaN
1,1329910,9824892,NaN,NaN,NaN,1229.0
2,3631071,10047482,NaN,NaN,NaN,123.0
3,1010169,10606652,NaN,NaN,NaN,115.0
4,3542101,9229715,NaN,NaN,NaN,158.0
...,...,...,...,...,...,...
4155,1393040,7788247,NaN,NaN,NaN,343.0
4156,550323,D570534,NaN,NaN,14.0,NaN
4157,3966518,D507624,NaN,NaN,14.0,NaN
4158,73542,D921501,NaN,NaN,15.0,NaN
4159,237372,7775962,NaN,NaN,NaN,190.0

In [233]:
get_nan_info(g_us_term_of_grant)

                 NaN Count  NaN Percentage
disclaimer_date       4100       98.557692
term_disclaimer       3797       91.274038
term_grant            3290       79.086538
term_extension        1120       26.923077

In [234]:
g_us_term_of_grant = g_us_term_of_grant.drop(['Unnamed: 0', 'disclaimer_date', 'term_disclaimer', 'term_grant'], axis=1)
g_us_term_of_grant

     patent_id  term_extension
0      4625261             NaN
1      9824892          1229.0
2     10047482           123.0
3     10606652           115.0
4      9229715           158.0
...        ...             ...
4155   7788247           343.0
4156   D570534             NaN
4157   D507624             NaN
4158   D921501             NaN
4159   7775962           190.0

[4160 rows x 2 columns]

In [235]:
g_us_term_of_grant.to_csv(path_to_your_dataset + '/g_us_term_of_grant.csv', index=False)

In [236]:
g_wipo_technology = pd.read_csv(path_to_your_file + "/g_wipo_technology.csv")
g_wipo_technology

,Unnamed: 0,patent_id,wipo_field_sequence,wipo_field_id,wipo_sector_title,wipo_field_title
0,2291241,11352688,1,20.0,Chemistry,"Materials, metallurgy"
1,5191845,5953419,0,6.0,Electrical engineering,Computer technology
2,365277,10218344,0,5.0,Electrical engineering,Basic communication processes
3,420800,10251587,0,13.0,Instruments,Medical technology
4,828205,10492198,0,4.0,Electrical engineering,Digital communication
...,...,...,...,...,...,...
11071,7569721,7674963,0,34.0,Other fields,Other consumer goods
11072,9874361,9258535,1,9.0,Instruments,Optics
11073,990147,10587275,0,5.0,Electrical engineering,Basic communication processes
11074,3477451,4693712,0,13.0,Instruments,Medical technology
11075,3319740,4574197,1,9.0,Instruments,Optics

In [237]:
get_nan_info(g_wipo_technology)

Empty DataFrame
Columns: [NaN Count, NaN Percentage]
Index: []

In [238]:
g_wipo_technology = g_wipo_technology.drop('Unnamed: 0', axis=1)
g_wipo_technology

,patent_id,wipo_field_sequence,wipo_field_id,wipo_sector_title,wipo_field_title
0,11352688,1,20.0,Chemistry,"Materials, metallurgy"
1,5953419,0,6.0,Electrical engineering,Computer technology
2,10218344,0,5.0,Electrical engineering,Basic communication processes
3,10251587,0,13.0,Instruments,Medical technology
4,10492198,0,4.0,Electrical engineering,Digital communication
...,...,...,...,...,...
11071,7674963,0,34.0,Other fields,Other consumer goods
11072,9258535,1,9.0,Instruments,Optics
11073,10587275,0,5.0,Electrical engineering,Basic communication processes
11074,4693712,0,13.0,Instruments,Medical technology
11075,4574197,1,9.0,Instruments,Optics

In [239]:
g_wipo_technology.to_csv(path_to_your_dataset + '/g_wipo_technology.csv', index=False)